@model HDU_AppXetTuyen.Models.ThiSinhDangKy

@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout_auth.cshtml";
}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container-xl px-4">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header justify-content-center">
                                <img src="~/Content/images/logo-hdu.png" style="width: 100%;" />
                            </div>
                            <div class="card-body">
                                <div>
                                    <p class="text-center">
                                        Mã xác thực sẽ được gửi vào email đã đăng ký, nếu không tìm thấy kiểm tra thư trong hộp thư rác hoặc spam
                                    </p>
                                </div>
                                <!-- Login form-->
                                @using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="mb-3" style="margin-top:5px">
                                        <label class="small mb-1" for="ThiSinh_Email">Email</label>
                                        @Html.EditorFor(model => model.ThiSinh_Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập email" } })
                                        @Html.ValidationMessageFor(model => model.ThiSinh_Email, "", new { @class = "small mb-1 text-danger" })
                                    </div>
                                    <div>
                                        @{
                                            if (ViewBag.LoginErrorMessager != null)
                                            {
                                                <label class="small mb-1 text-danger" name="error_login" id="error_login">@ViewBag.LoginErrorMessager</label>
                                            }
                                        }
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                                        <input class="btn btn-primary" type="submit" value="Tiếp tục" />
                                    </div>
                                }
                            </div>
                            <div class="card-footer text-center">
                                <div class="small">@Html.ActionLink("Quay lại trang chủ", "Login", null, new { style = "text-decoration: none; color: #001D85;" })</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="~/Scripts/scripts.js"></script>
@Scripts.Render("~/bundles/jqueryval")