@model IEnumerable<HDU_AppXetTuyen.Models.TongHopSoLieuXetTuyen>

@{
    ViewBag.Title = "View1";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Quản lý thông tin kinh phí thí sinh</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid px-12">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-header-actions mt-1 mb-1 ">
                <div class="card-header">
                    <span id="sp_tieude">Danh sách thí sinh nộp kinh phí</span>
                </div>
                <div class="card-body">
                    <div class="row g-1">
                        <div class="col-lg-12 col-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Họ lót</th>
                                            <th>Tên</th>
                                            <th>Điện thoại</th>
                                            <th>Pt X.tuyển</th>
                                            <th>N.Vọng</th>
                                            <th>Trạng thái</th>
                                            <th>Số tham chiếu</th>
                                            <th>Tệp minh chứng</th>
                                            <th>Ngày nộp MC</th>
                                            <th>Ngày kiểm tra</th>
                                            <th style="width:90px"><a class="text-nowrap" style="text-decoration:none; color:black" href="#">Cập nhật</a></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_lephi">
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HoDem)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Ten)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DienThoai)
                                                </td>
                                                <td>
                                                    @{
                                                        if (item.Ptxt_ID == "2")
                                                        {
                                                            <span>P.thức 2</span>
                                                        }
                                                        if (item.Ptxt_ID == "3")
                                                        {
                                                            <span>P.thức 3</span>
                                                        }
                                                        if (item.Ptxt_ID == "4")
                                                        {
                                                            <span>P.thức 4</span>
                                                        }
                                                        if (item.Ptxt_ID == "5")
                                                        {
                                                            <span>P.thức 5</span>
                                                        }
                                                        if (item.Ptxt_ID == "6")
                                                        {
                                                            <span>P.thức 6</span>
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    <span>NV @Html.DisplayFor(modelItem => item.NguyenVong)</span>

                                                </td>
                                                <td>
                                                    @{
                                                        if (item.TrangThaiLP == "0")
                                                        {
                                                            <span>Chưa nộp LP</span>
                                                        }
                                                        if (item.TrangThaiLP == "1")
                                                        {
                                                            <span>Đã nộp, chưa KT</span>
                                                        }
                                                        if (item.TrangThaiLP == "2")
                                                        {
                                                            <span>Đã KT, Có sai sót</span>
                                                        }
                                                        if (item.TrangThaiLP == "9")
                                                        {
                                                            <span>Đã KT, Đúng</span>
                                                        }
                                                    }

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SoThamChieuLP)
                                                </td>
                                                <td>
                                                    <a href="#">Tệp 1</a>  <a href="#">Tệp 2</a>
                                                    @*@Html.DisplayFor(modelItem => item.KinhPhi_TepMinhChung)*@
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NgayThangNopLP)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NgayThangCheckLP)
                                                </td>

                                                <td>
                                                    <a href="#" class="btn btn-sm btn-light" onclick="UpdateInforMCLP(@item.Dkxt_ID, @item.Ptxt_ID,@item.TrangThaiLP)">Cập nhật</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function UpdateInforMCLP(Dkxt_ID, Ptxt_ID, TrangThai) {
        alert(Dkxt_ID + " " + Ptxt_ID)
    }
</script>
<script>
    $(document).ready(function () {
        let sp_tieude = document.getElementById('sp_tieude');
        function reportWindowSize() {
            if (window.innerWidth <= 900) {
                sp_tieude.innerText = "Danh sách TS nộp KP";
            }
            else {
                sp_tieude.innerText = "Danh sách thí sinh nộp kinh phí";
            }
        }
        window.onresize = reportWindowSize;
    })
</script>

