@model HDU_AppXetTuyen.Models.ThiSinhDangKy


@{
    ViewBag.Title = "Chi tiết thông tin thí sinh";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span> Quản lý thông tin Thí sinh đăng ký</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid px-12">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-header-actions mt-1 mb-1 ">
                <div class="card-header">
                    <span>Chi tiết thông tin thí sinh</span>
                    <a class="btn-close" aria-label="Close" href="@Url.Action("Index","ThiSinhDangKys")"></a>
                </div>
                <div class="card-body">
                    <div class="row gx-xl-3 mb-1">
                        <div class="col-md-3">
                            <label class="form-label mb-1" for="inputFirstName">Căn cước công dân  </label>
                            <input class="form-control" id="input_cccd_ts" name="input_cccd_ts" type="text" placeholder="Số căn cước công dân" value="@Model.ThiSinh_CCCD" disabled />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label mb-1" for="input_hovaten">Họ và tên  </label>
                            <input class="form-control" id="input_hovaten" type="text" placeholder="Hoàng Việt Anh" value="@Model.ThiSinh_HoLot @Model.ThiSinh_Ten" disabled />
                        </div>

                        <div class="col-md-3">
                            <label class="form-label mb-1" for="input_ngaysinh">Ngày sinh  </label>
                            <input class="form-control" id="input_ngaysinh" type="text" placeholder="20/12/2005" value="@Model.ThiSinh_NgaySinh" disabled />
                        </div>
                        <div class="col-md-1">
                            <label class="form-label mb-1" for="input_gioitinh">Giới tính  </label>
                            @{
                                var gt = Model.ThiSinh_GioiTinh == 0 ? "Nam" : "Nữ";
                            }
                            <input class="form-control" id="input_gioitinh" type="text" placeholder="Nam" value="@gt" disabled />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label mb-1" for="input_dantoc">Dân tộc  </label>
                            <input class="form-control" id="input_dantoc" type="text" placeholder="Kinh" value="@Model.ThiSinh_DanToc" disabled />
                        </div>
                    </div>
                    <div class="row gx-xl-3 mb-1">
                        <div class="col-md-3">
                            <label class="form-label mb-1" for="input_dienthoai_ts">Điện thoại  </label>
                            <input class="form-control" id="input_dienthoai_ts" type="text" placeholder="0912.345.678" value="@Model.ThiSinh_DienThoai" disabled />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label mb-1" for="input_email_ts">Emai </label>
                            <input class="form-control" id="input_email_ts" type="text" placeholder="Enter your last name" value="@Model.ThiSinh_Email" disabled />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label mb-1" for="input_khuvuc">Khu vực  </label>
                            <input class="form-control" id="input_khuvuc" type="text" placeholder="KV_2NT" value="@Model.KhuVuc.KhuVuc_Ten" disabled />
                        </div>

                        <div class="col-md-3">
                            <label class="form-label mb-1" for="input_doituong">Đối tượng  </label>
                            <input class="form-control" id="input_doituong" type="text" placeholder="ĐT 01" value="@Model.DoiTuong.DoiTuong_Ten" disabled />
                        </div>
                    </div>
                    <div class="row gx-xl-3 mb-1">
                        <div class="col-md-4">
                            <label class="form-label mb-1" for="input_diachinhangiaybao">Trường </label>
                            <input class="form-control" id="input_diachinhangiaybao" type="text" placeholder="Chưa có dữ liệu" value="@Model.ThiSinh_TruongCapBa" disabled />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label mb-1" for="input_diachinhangiaybao">Mã trường </label>
                            <input class="form-control" id="input_diachinhangiaybao" type="text" placeholder="Chưa có dữ liệu" value="@Model.ThiSinh_TruongCapBa_Ma" disabled />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label mb-1" for="input_diachinhangiaybao">Học lực </label>
                            <input class="form-control" id="input_hocluc" type="text" placeholder="Chưa có dữ liệu" value="" disabled />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label mb-1" for="input_diachinhangiaybao">Hạnh kiểm </label>
                            <input class="form-control" id="input_hanhkiem" type="text" placeholder="Chưa có dữ liệu" value="" disabled />
                        </div>
                    </div>
                    <div class="row gx-xl-3 mb-1">
                        <div class="col-md-12">
                            <label class="form-label mb-1" for="input_diachinhangiaybao">Địa chỉ nhận giấy báo  </label>
                            <input class="form-control" id="input_diachinhangiaybao" type="text" placeholder="Chưa có dữ liệu" value="@Model.ThiSinh_DCNhanGiayBao" disabled />
                        </div>
                    </div>
                    <div class="row gx-xl-3 mb-1">
                        <div class="col-md-12">
                            <label class="form-label mb-1" for="input_hokhauthuongtru">Hộ khẩu thường trú</label>
                            <input class="form-control" id="input_hokhauthuongtru" type="text" placeholder="nhập hộ khẩu thường trú" value="@Model.ThiSinh_HoKhauThuongTru" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 mb-0">
        <center>
            <button id="toggleButton" class="btn btn-outline-primary" onclick="showThongTinXetTuyen()">Hiển thị thông tin đăng ký xét tuyển</button>
            <a class="btn btn-outline-danger" aria-label="Close" href="@Url.Action("Index","ThiSinhDangKys")">Quay lại</a>
        </center>
    </div>
    <div class="row" id="fadeInUpNguyenVong" style="display:none">
        <div class="col-md-12">
            <div class="card card-header-actions mt-3 mb-1" >
                <div class="card-header">
                    <span>Theo phương thức sử dụng kết quả học tập ở THPT</span>
                </div>
                <div class="card-body">
                    <div class="table-container" id="list-hocba">
                        <table class="table">
                            <tr>
                                <th  class="text-center">Đợt xét tuyển</th>
                                <th class="text-center">Thứ tự NV</th>
                                <th class="text-center">Mã ngành</th>
                                <th>Tên ngành</th>
                                <th class="text-center">Tên phương thức</th>
                                <th class="text-center">Mã tổ hợp</th>
                                <th class="text-center">Thứ tự nguyện vọng</th>
                                <th>Tổng điểm</th>
                                <th width="15%" class="text-center">Trạng thái</th>
                            </tr>
                            <tbody class="tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card card-header-actions mt-3 mb-1" >
                <div class="card-header">
                    <span> Thuộc diện xét tuyển thẳng học sinh giỏi</span>
                </div>
                <div class="card-body">
                    <div class="table-container" id="list-tuyenthang">
                        <table class="table">
                            <tr class="text-center">
                                <th class="text-center">Đợt xét tuyển</th>
                                <th class="text-center">Thứ tự NV</th>
                                <th class="text-center">Mã ngành</th>
                                <th>Tên ngành</th>
                                <th class="text-center">
                                    Tên phương thức
                                </th>
                                <th class="text-center">
                                    Mã tổ hợp
                                </th>
                                <th class="text-center">
                                    Môn đạt giải
                                </th>
                                <th>
                                    Giải
                                </th>
                                <th width="15%" class="text-center">
                                    Trạng thái
                                </th>
                            </tr>
                            <tbody class="tbody-tuyenthang">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card card-header-actions mt-3 mb-1" >
                <div class="card-header">
                    <span> Theo phương thức sử dụng chứng chỉ ngoại ngữ</span>
                </div>
                <div class="card-body">
                    <div class="table-container" id="list-ngoaingu">
                        <table class="table">
                            <tr class="text-center">
                                <th class="text-center">Đợt xét tuyển</th>
                                <th class="text-center">Thứ tự NV</th>
                                <th class="text-center">Mã ngành</th>
                                <th>Tên ngành</th>
                                <th class="text-center">
                                    Tên phương thức
                                </th>
                                <th class="text-center">
                                    Mã tổ hợp
                                </th>
                                <th class="text-center">
                                    Tên chứng chỉ
                                </th>
                                <th>
                                    Kết quả
                                </th>
                                <th width="15%" class="text-center">
                                    Trạng thái
                                </th>
                            </tr>
                            <tbody class="tbody-ngoaingu">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card card-header-actions mt-3 mb-1" >
                <div class="card-header">
                    <span>Theo phương thức sử dụng kết quả thi đánh giá năng lực/đánh giá tư duy</span>
                </div>
                <div class="card-body">
                    <div class="table-container" id="list-dgnl">
                        <table class="table">
                            <tr class="text-center">
                                <th class="text-center">Đợt xét tuyển</th>
                                <th class="text-center">Thứ tự NV</th>
                                <th class="text-center">Mã ngành</th>
                                <th>Tên ngành</th>
                                <th class="text-center">
                                    Tên phương thức
                                </th>
                                <th class="text-center">
                                    Mã tổ hợp
                                </th>
                                <th class="text-center">
                                    Tên trường tổ chức
                                </th>
                                <th>
                                    Kết quả
                                </th>
                                <th width="15%" class="text-center">
                                    Trạng thái
                                </th>
                            </tr>
                            <tbody class="tbody-dgnl">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
<script>

    function showThongTinXetTuyen() {
        var div = $("#fadeInUpNguyenVong");
        var button = $("#toggleButton");

        if (div.is(":hidden")) {
            div.show();
            button.text("Ẩn thông tin đăng ký xét tuyển");
        } else {
            div.hide();
            button.text("Hiển thị thông tin đăng ký xét tuyển");
        }
    }

    $('document').ready(function () {
        let hocLucList = [
            { value: 4, text: "Xuất sắc" },
            { value: 3, text: "Giỏi" },
            { value: 2, text: "Khá" },
            { value: 1, text: "Trung bình" },
        ]
        let hanhKiemList = [
            { value: 4, text: "Tốt" },
            { value: 3, text: "Khá" },
            { value: 2, text: "Trung bình" },
            { value: 1, text: "Yếu" },
        ]
        for (let i = 0; i < hocLucList.length; i++) {
            if (hocLucList[i].value == @Model.ThiSinh_HocLucLop12) {
                $('#input_hocluc').val(hocLucList[i].text);
                break;
            }
        }
        for (let i = 0; i < hanhKiemList.length; i++) {
            if (hanhKiemList[i].value == @Model.ThiSinh_HanhKiemLop12) {
                $('#input_hanhkiem').val(hanhKiemList[i].text);
                break;
            }
        }

        $('#fadeInUpNguyenVong').hide();
        $("#list-hocba").hide();
        $("#list-tuyenthang").hide();
        $("#list-ngoaingu").hide();
        $("#list-dgnl").hide();
        LoadData();
    })
    function LoadData() {
        let id = @Model.ThiSinh_ID;
        $.ajax({
            url: `/ThiSinhDangKys/GetAllNguyenVongs/`,
            type: "GET",
            data: { id: id },
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                if (response.success) {
                    let { HocBa, TuyenThang, NgoaiNgu, DanhGia } = response;
                    //if (HocBa.length == 0) {} //xử lý hiển thị thông báo
                    if (HocBa.length > 0) {
                        $("#list-hocba").show();
                        let html = "";
                        $.each(HocBa, function (key, item) {
                            let trangthai = "";
                            if (item.Dkxt_TrangThai_KetQua == 0) {
                                trangthai = "<span class=\"badge bg-info\">Chờ xét duyệt</span >"
                            }
                            else if (item.Dkxt_TrangThai_KetQua == 1) {
                                trangthai = "<span class=\"badge bg-danger\">Trượt</span>"
                            }
                            else if (item.Dkxt_TrangThai_KetQua == 2) {
                                trangthai = "<span class=\"badge bg-success\">Trúng tuyển</span>"
                            }
                            html += "<tr>";
                            html += '<td class="text-center">' + item.DotXT_ID + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_NguyenVong + '</td>';
                            html += '<td class="text-center">' + item.Nganh_ID.Nganh_MaNganh + '</td>';
                            html += '<td>' + item.Nganh_ID.NganhTenNganh + '</td>';
                            html += '<td class="text-center"> Phương thức ' + item.Ptxt_ID + '</td>';
                            html += '<td class="text-center">' + item.Thm.ToHopMon + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_NguyenVong + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_Diem_Tong_Full + '</td>';
                            html += '<td class="text-center">' + trangthai + '</td>';
                            html += "</tr>";
                        });
                        $('.tbody').html(html);
                    }
                    if (TuyenThang.length > 0) {
                        $("#list-tuyenthang").show();
                        let html = "";
                        $.each(TuyenThang, function (key, item) {
                            let trangthai = "";
                            if (item.Dkxt_TrangThai_KetQua == 0) {
                                trangthai = "<span class=\"badge bg-info\">Chờ xét duyệt</span >"
                            }
                            else if (item.Dkxt_TrangThai_KetQua == 1) {
                                trangthai = "<span class=\"badge bg-danger\">Trượt</span>"
                            }
                            else if (item.Dkxt_TrangThai_KetQua == 2) {
                                trangthai = "<span class=\"badge bg-success\">Trúng tuyển</span>"
                            }
                            html += "<tr>";
                            html += '<td class="text-center">' + item.DotXT_ID + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_NguyenVong + '</td>';
                            html += '<td class="text-center">' + item.Nganh_ID.Nganh_MaNganh + '</td>';
                            html += '<td>' + item.Nganh_ID.NganhTenNganh + '</td>';
                            html += '<td class="text-center"> Phương thức ' + item.Ptxt_ID + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_ToHopXT + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_MonDatGiai + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_LoaiGiai + '</td>';
                            html += '<td class="text-center">' + trangthai + '</td>';
                            html += "</tr>";
                        });
                        $('.tbody-tuyenthang').html(html);
                    }
                    if (NgoaiNgu.length > 0) {
                        $("#list-ngoaingu").show();
                        let html = "";
                        $.each(NgoaiNgu, function (key, item) {
                            let trangthai = "";
                            if (item.Dkxt_TrangThai_KetQua == 0) {
                                trangthai = "<span class=\"badge bg-info\">Chờ xét duyệt</span >"
                            }
                            else if (item.Dkxt_TrangThai_KetQua == 1) {
                                trangthai = "<span class=\"badge bg-danger\">Trượt</span>"
                            }
                            else if (item.Dkxt_TrangThai_KetQua == 2) {
                                trangthai = "<span class=\"badge bg-success\">Trúng tuyển</span>"
                            }
                            html += "<tr>";
                            html += '<td class="text-center">' + item.DotXT_ID + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_NguyenVong + '</td>';
                            html += '<td class="text-center">' + item.Nganh_ID.Nganh_MaNganh + '</td>';
                            html += '<td>' + item.Nganh_ID.NganhTenNganh + '</td>';
                            html += '<td class="text-center"> Phương thức ' + item.Ptxt_ID + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_ToHopXT + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_DonViToChuc + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_KetQuaDatDuoc + "/" + item.Dkxt_TongDiem + '</td>';
                            html += '<td class="text-center">' + trangthai + '</td>';
                            html += "</tr>";
                        });
                        $('.tbody-ngoaingu').html(html);
                    }
                    if (DanhGia.length > 0) {
                        $("#list-dgnl").show();
                        let html = "";
                        $.each(DanhGia, function (key, item) {
                            let trangthai = "";
                            if (item.Dkxt_TrangThai_KetQua == 0) {
                                trangthai = "<span class=\"badge bg-info\">Chờ xét duyệt</span >"
                            }
                            else if (item.Dkxt_TrangThai_KetQua == 1) {
                                trangthai = "<span class=\"badge bg-danger\">Trượt</span>"
                            }
                            else if (item.Dkxt_TrangThai_KetQua == 2) {
                                trangthai = "<span class=\"badge bg-success\">Trúng tuyển</span>"
                            }
                            html += "<tr>";
                            html += '<td class="text-center">' + item.DotXT_ID + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_NguyenVong + '</td>';
                            html += '<td class="text-center">' + item.Nganh_ID.Nganh_MaNganh + '</td>';
                            html += '<td>' + item.Nganh_ID.NganhTenNganh + '</td>';
                            html += '<td class="text-center"> Phương thức ' + item.Ptxt_ID + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_ToHopXT + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_DonViToChuc + '</td>';
                            html += '<td class="text-center">' + item.Dkxt_KetQuaDatDuoc + "/" + item.Dkxt_TongDiem + '</td>';
                            html += '<td class="text-center">' + trangthai + '</td>';
                            html += "</tr>";
                        });
                        $('.tbody-dgnl').html(html);
                    }
                } else {
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
        });
    }
</script>