@model HDU_AppXetTuyen.Models.LienCapTieuHoc
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_AdminLienCap.cshtml";
}
<style>
    .btn, .form-select, .form-control {
        border-radius: 3px;
    }
</style>
    <div class="container-fluid px-12">
        <div class="card card-collapsable mt-3 mb-1">
            <div class="card-header">
                <div id="div_tieude"><span> Đăng ký xét tuyển vào lớp 1</span></div>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row g-1">
                    <div class="col-xl-4 col-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2">Thông tin học sinh</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>  <label class="form-label mb-1" for="HocSinh_DinhDanh">Mã định danh <a style="color:red; text-decoration:none">(*)</a> </label></td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HocSinh_DinhDanh, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã định danh" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_DinhDanh, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-label mb-1" for="HocSinh_HoTen">Họ và tên <a style="color:red; text-decoration:none">(*)</a> </label>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HocSinh_HoTen, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ và tên" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_HoTen, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-label mb-1" for="HocSinh_NgaySinh">Ngày sinh <a style="color:red; text-decoration:none">(*)</a> </label>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HocSinh_NgaySinh, new { htmlAttributes = new { @class = "form-control", id = "datepicker", @placeholder = "dd/mm/yyyy" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_NgaySinh, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>  <label class="form-label mb-1" for="HocSinh_GioiTinh">Giới tính <a style="color:red; text-decoration:none">(*)</a> </label></td>
                                    <td>
                                        <div class="d-inline-flex flex-nowrap" style="margin-bottom:12px">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="radioNam" name="HocSinh_GioiTinh" checked value="0">
                                                <label class="form-check-label" for="radioNam">
                                                    Nam
                                                </label>
                                            </div>
                                            <div class="form-check" style="margin-left:10px">
                                                <input class="form-check-input" type="radio" id="radioNu" name="HocSinh_GioiTinh" value="1">
                                                <label class="form-check-label" for="radioNu">
                                                    Nữ
                                                </label>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.HocSinh_GioiTinh, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="form-label mb-1" for="HocSinh_NoiSinh">Nơi sinh <a style="color:red; text-decoration:none">(*)</a> </label></td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HocSinh_NoiSinh, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nơi sinh" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_NoiSinh, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-label mb-1" for="HocSinh_NoiCuTru">Nơi cứ trú <a style="color:red; text-decoration:none">(*)</a> </label>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HocSinh_NoiCuTru, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nơi cư trú" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_NoiCuTru, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                    <div class="col-xl-4 col-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2">Thông tin phụ huynh</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="form-label mb-1" for="HocSinh_HoTenCha">Họ, tên bố <a style="color:red; text-decoration:none">(*)</a> </label>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HocSinh_ThongTinCha, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ tên cha" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_ThongTinCha, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-label mb-1" for="HocSinh_SDTCha">Điện thoại  <a style="color:red; text-decoration:none">(*)</a></label>
                                    </td>

                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HocSinh_DienThoaiCha, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điện thoại cha" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_DienThoaiCha, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-label mb-1" for="HocSinh_NNCha">Nghề nghiệp</label>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HocSinh_NgheNghiepCha, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nghề nghiệp cha" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_NgheNghiepCha, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-label mb-1" for="HocSinh_HoTenMe">Họ, tên mẹ <a style="color:red; text-decoration:none">(*)</a> </label>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HocSinh_ThongTinMe, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ tên mẹ" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_ThongTinMe, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-label mb-1" for="HocSinh_SDTMe">Điện thoại <a style="color:red; text-decoration:none">(*)</a></label>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HocSinh_DienThoaiMe, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điện thoại mẹ" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_DienThoaiMe, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-label mb-1" for="HocSinh_NNMe">Nghề nghiệp</label>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HocSinh_NgheNghiepMe, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nghề nghiệp mẹ" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_NgheNghiepMe, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                    </div>

                    <div class="col-xl-4 col-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Thông tin về hoàn thành GDMN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-inline-flex" style="width:100%">
                                            <label class="form-label col-2" for="HocSinh_Email">Email <a style="color:red; text-decoration:none">(*)</a> </label>
                                            @Html.EditorFor(model => model.HocSinh_Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_Email, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-label mb-1" for="HocSinh_UuTien">Thuộc diện ưu tiên </label>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HocSinh_UuTien, new { htmlAttributes = new { @class = "form-control", @placeholder = "Diện ưu tiên" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_UuTien, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-label mb-1" for="HocSinh_TruongMN" style="margin-top:5px">Trường mầm non đã học </label>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HocSinh_TruongMN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Trường mầm non" } })
                                            @Html.ValidationMessageFor(model => model.HocSinh_TruongMN, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="formFileMultiple" class="form-label">Chứng nhận hoàn thành GDMN </label>
                                        <div class="col-md-12">
                                            @{
                                                if (Model.HocSinh_MinhChungMN != null)
                                                {
                                                    string[] strArr = Model.HocSinh_MinhChungMN.Split(new Char[] { '#' });
                                                    int i = 0;
                                                    foreach (string _item in strArr)
                                                    {
                                                        i++;
                                                        if (_item.Trim().Length > 0)
                                                        {

                                                            string str_url = ViewBag.URL + _item;
                                                            <a href="@str_url" target="_blank" style="text-decoration:none" title="bấm chuột để xem thông tin">Tệp @i</a> <label>  </label>
                                                        }
                                                        else
                                                        {
                                                            <p class="text-warning"> Không có tệp đính kèm!</p>
                                                        }
                                                    }
                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="col-xl-12 col-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Hình ảnh minh chứng giấy tờ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row">

                                            <div class="col-xl-3 col-sm-12">
                                                <div class="form-group">
                                                    <label for="formFileMultiple" class="form-label">Giấy khai sinh </label>
                                                    <div class="col-md-12">
                                                        @{
                                                            if (Model.HocSinh_MinhChungGiayKS != null)
                                                            {
                                                                string[] strArr = Model.HocSinh_MinhChungGiayKS.Split(new Char[] { '#' });
                                                                int i = 0;
                                                                foreach (string _item in strArr)
                                                                {
                                                                    i++;
                                                                    if (_item.Trim().Length > 0)
                                                                    {

                                                                        string str_url = ViewBag.URL + _item;
                                                                        <a href="@str_url" target="_blank" style="text-decoration:none" title="bấm chuột để xem thông tin">Tệp @i</a> <label>  </label>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="text-warning"> Không có tệp đính kèm!</p>
                                                                    }
                                                                }
                                                            } }
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xl-3 col-sm-12">
                                                <div class="form-group">
                                                    <label for="formFileMultiple" class="form-label">Định danh cá nhân </label>
                                                    <div class="col-md-12">
                                                        @{
                                                            if (Model.HocSinh_MinhChungMaDinhDanh != null)
                                                            {
                                                                string[] strArr = Model.HocSinh_MinhChungMaDinhDanh.Split(new Char[] { '#' });
                                                                int i = 0;
                                                                foreach (string _item in strArr)
                                                                {
                                                                    i++;
                                                                    if (_item.Trim().Length > 0)
                                                                    {

                                                                        string str_url = ViewBag.URL + _item;
                                                                        <a href="@str_url" target="_blank" style="text-decoration:none" title="bấm chuột để xem thông tin">Tệp @i</a> <label>  </label>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="text-warning"> Không có tệp đính kèm!</p>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xl-3 col-sm-12">
                                                <div class="form-group">
                                                    <label for="formFileMultiple" class="form-label">Giấy chứng nhận ưu tiên </label>
                                                    <div class="col-md-12">
                                                        @{
                                                            if (Model.HocSinh_GiayUuTien != null)
                                                            {
                                                                string[] strArr = Model.HocSinh_GiayUuTien.Split(new Char[] { '#' });
                                                                int i = 0;
                                                                foreach (string _item in strArr)
                                                                {
                                                                    i++;
                                                                    if (_item.Trim().Length > 0)
                                                                    {

                                                                        string str_url = ViewBag.URL + _item;
                                                                        <a href="@str_url" target="_blank" style="text-decoration:none" title="bấm chuột để xem thông tin">Tệp @i</a> <label>  </label>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="text-warning"> Không có tệp đính kèm!</p>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xl-3 col-sm-12">
                                                <div class="form-group">
                                                    <label for="formFileMultiple" class="form-label">Xác nhận đóng lệ phí </label>
                                                    <div class="col-md-12">
                                                        @{
                                                            if (Model.HocSinh_MinhChungLePhi != null || Model.HocSinh_MinhChungLePhi.Trim() != "")
                                                            {

                                                                string[] strArr = Model.HocSinh_MinhChungLePhi.Split(new Char[] { '#' });
                                                                int i = 0;
                                                                foreach (string _item in strArr)
                                                                {
                                                                    i++;
                                                                    if (_item.Trim().Length > 0)
                                                                    {

                                                                        string str_url = ViewBag.URL + _item;
                                                                        <a href="@str_url" target="_blank" style="text-decoration:none" title="bấm chuột để xem thông tin">Tệp @i</a> <label>  </label>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="text-warning"> Không có tệp đính kèm!</p>

                                                                    }
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="col-xl-12 col-12">

                        <label for="formFileMultiple" class="form-label"> <b>Trạng thái hồ sơ</b></label>
                        <br />
                        <div class="d-inline-flex flex-nowrap" style="margin-bottom:12px">
                            <div class="form-check" id="radio-trangthai">
                                <input class="form-check-input" type="radio" id="radioDK" name="HocSinh_TrangThai" value=0>
                                <label class="form-check-label" for="radioDK">
                                    Đăng ký
                                </label>
                            </div>
                            <div class="form-check" id="radio-trangthai" style="margin-left:10px">
                                <input class="form-check-input" type="radio" id="radioXT" name="HocSinh_TrangThai" value=1>
                                <label class="form-check-label" for="radioXT">
                                    Đã xác thực
                                </label>
                            </div>
                            <div class="form-check" id="radio-trangthai" style="margin-left:10px">
                                <input class="form-check-input" type="radio" id="radioMCS" name="HocSinh_TrangThai" value=2>
                                <label class="form-check-label" for="radioMCS">
                                    MC sai
                                </label>
                            </div>
                            <div class="form-check" id="radio-trangthai" style="margin-left:10px">
                                <input class="form-check-input" type="radio" id="radioDD" name="HocSinh_TrangThai" value=3>
                                <label class="form-check-label" for="radioDD">
                                    HS Đầy đủ
                                </label>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary" onclick="updateStatus()" style="margin-left:10px"> Cập nhật trạng thái</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Toast Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>
<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('input').attr("disabled", true);
        $('#radio-trangthai input ').attr("disabled", false);
        loadData();
    });

    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }
    function loadData() {
        if (@Model.HocSinh_TrangThai == 0) {
            $('#radioDK').attr('checked', 'checked');
                }
                else if (@Model.HocSinh_TrangThai == 1) {
            $('#radioXT').attr('checked', 'checked');
                }
                else if (@Model.HocSinh_TrangThai == 2) {
            $('#radioMCS').attr('checked', 'checked');
                }
                else if (@Model.HocSinh_TrangThai == 3) {
            $('#radioDD').attr('checked', 'checked');
          }
    }
    function updateStatus() {
        let _hocsinh_trangthai = -1;
        if ($('#radioDK').is(':checked')) {
            _hocsinh_trangthai = 0;
        }
        else if ($('#radioXT').is(':checked')) {
            _hocsinh_trangthai = 1;
        }
        else if ($('#radioMCS').is(':checked')) {
            _hocsinh_trangthai = 2;
        }
        else if ($('#radioDD').is(':checked')) {
            _hocsinh_trangthai = 3;
        }
        let dataForm = {
            HocSinh_ID: @Model.HocSinh_ID,
            HocSinh_TrangThai: _hocsinh_trangthai,
            }
        $.ajax({
            url: '/Admin/TruongLienCaps/UpdateStatusLCTH',
            type: "POST",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(dataForm),
            success: function (res) {
                if (res.success == true) {
                    showToast("Thành công", res.message, "bg-success");
                    window.location.href = '/Admin/TruongLienCaps/LcTieuhoc';
                } else if (res.success == false) {
                    showToast("Lỗi", res.message, "bg-error");
                }
            },
            error: function (res) {
                showToast("Lỗi", res.message, "bg-error");
            }
        });
    }

</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
