<!-- Thêm thư viện -->
@model PagedList.IPagedList<HDU_AppXetTuyen.Models.LienCapTieuHoc>
@using PagedList.Mvc;
<!-- Kết thúc-->
@{
    ViewBag.Title = "LcTieuhoc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_AdminLienCap.cshtml";
}
<style>
    .btn, .form-select, .form-control {
        border-radius: 3px;
    }
</style>
<style>
    th, td {
        white-space: nowrap;
    }

    .bt-hs {
        width: 80px;
    }

    /*.bd-rd {
        border-radius: 0px !important;
    }*/

    .p-mg {
        margin: 0px !important;
    }
</style>

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Quản lý học sinh đăng ký dự tuyển trường liên cấp Tiểu học</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div class="card card-collapsable mt-1 mb-1">
        <div class="card-header">
            <div><span id="sp_tieude">Danh sách học sinh đăng ký</span></div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("LcTieuhoc", "TruongLienCaps", FormMethod.Get))
            {
                <div class="row g-1">

                    <div class="col-xxl-2 col-md-12">
                        <select class="form-select">
                            <option>Chọn đợt...</option>
                        </select>
                        @*@Html.DropDownList("filteriDotxt", null, new { @class = "form-select form-select-sm bd-rd" })*@
                    </div>

                    <div class="col-xxl-2 col-md-12">

                        @Html.DropDownList("filteriHoSo", null, "Theo dõi hồ sơ...", new { @class = "form-select" })
                    </div>
                    <div class="col-xxl-2 col-md-12">
                        @Html.TextBox("searchString", ViewBag.SearchString as string, new { @class = "form-control", @placeholder = "Nhập từ khóa..." })
                    </div>
                    <div class="col-xxl-2 col-lg-12">
                        <div class="d-inline-flex flex-nowrap align-items-center">
                            <button class="btn btn-outline-primary " id="bt_search" style="margin-right:4px">Lọc</button>
                            <a class="btn btn-outline-secondary " id="bt_reset" href="@Url.Action("LcTieuhoc", "TruongLienCaps")" style="padding-right: 6px; padding-left: 6px; margin-right:4px">Tải lại</a>
                            <a class="btn btn-outline-primary bd-rd  text-nowrap" id="bt_export_excel" href="@Url.Action("ExportHocSinhTH", "TruongLienCaps")" style="padding-right:6px; padding-left:6px">Xuất excel</a>
                            <script>
                                $(document).ready(function () {
                                    $('#bt_export_excel').click(function () {
                                        var _filteriDotxt = $('#filteriDotxt').val();
                                        var _searchString = $('#searchString').val();
                                        var data = {
                                            FilteriDotxt: _filteriDotxt,
                                            SearchString: _searchString,
                                        }
                                        console.log(data)
                                        $.ajax({
                                            url: "/TruongLienCaps/ExportHocSinhTH/",
                                            data: JSON.stringify(data),
                                            type: "GET",
                                            contentType: 'application/json;charset=utf-8',
                                            dataType: 'json',
                                            async: false,
                                            success: function (response) {
                                                console.log(response)

                                            },
                                            error: function (errormessage) {
                                                console.log(errormessage.responseText);
                                            }
                                        });
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <hr class="mt-3 mb-2" />
                </div>
            }

            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Thông tin HS")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Học trường MN")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Thông phụ huynh")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Theo dõi Hồ sơ")
                                    </th>
                                    <th style="width:100px">
                                        @Html.DisplayName("Cập nhật")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @{ if (Model.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="7" style="text-align:center; color:red">
                                                <span>Không có dữ liệu</span>
                                            <td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <p class="p-mg">- Mã ĐD: 038215000012</p>
                                                    <p class="p-mg">- Họ tên: @item.HocSinh_HoTen</p>
                                                    @{ if (@item.HocSinh_GioiTinh == 0)
                                                        {<p class="p-mg">- Giới tính: Nam</p>}
                                                        else
                                                        {<p class="p-mg">- Giới tính: Nữ</p>}}
                                                    <p class="p-mg">- Ngày sinh:  @item.HocSinh_NgaySinh</p>
                                                    <p class="p-mg">- Diện ưu tiên: Không</p>

                                                </td>

                                                <td style="vertical-align:middle">

                                                    @Html.DisplayFor(mdit => item.HocSinh_TruongMN)
                                                </td>
                                                <td>
                                                    <p class="p-mg">- Họ tên bố: @item.HocSinh_ThongTinCha </p>
                                                    <p class="p-mg">- Điện thoại: @item.HocSinh_DienThoaiCha</p>
                                                    <p class="p-mg">- Họ tên mẹ: @item.HocSinh_ThongTinMe</p>
                                                    <p class="p-mg">- Điện thoại: @item.HocSinh_DienThoaiMe</p>
                                                    <p class="p-mg">- Email: @item.HocSinh_Email</p>
                                                </td>
                                                <td style="vertical-align:middle">
                                                    @{
                                                        if (item.HocSinh_TrangThai == 0)
                                                        { <a class="btn  btn-danger btn-sm" style="width:110px" href="@Url.Action("DetailsTh", "TruongLienCaps", new { id = item.HocSinh_ID })">Đăng ký</a> }
                                                        if (item.HocSinh_TrangThai == 1)
                                                        { <a class="btn  btn-success btn-sm" style="width:110px" href="@Url.Action("DetailsTh", "TruongLienCaps", new { id = item.HocSinh_ID })">Đã xác thực</a> }
                                                        if (item.HocSinh_TrangThai == 2)
                                                        { <a class="btn  btn-warning btn-sm" style="width:110px" href="@Url.Action("DetailsTh", "TruongLienCaps", new { id = item.HocSinh_ID })">MC sai</a> }
                                                        if (item.HocSinh_TrangThai == 3)
                                                        { <a class="btn  btn-primary btn-sm" style="width:110px" href="@Url.Action("DetailsTh", "TruongLienCaps", new { id = item.HocSinh_ID })">HS Đầy đủ</a> }
                                                    }
                                                </td>
                                                <td style="white-space:nowrap; vertical-align:middle">
                                                    <a href="@Url.Action("DetailsTh", "TruongLienCaps", new { id = item.HocSinh_ID })" title="Xem chi tiết thông tin thí sinh"><i data-feather="eye" style="vertical-align: middle !important "></i></a> |
                                                    @*<a href="@Url.Action("EditTh", "TruongLienCaps", new { id = item.HocSinh_ID })" title="Chỉnh sửa thông tin thí sinh tin thí sinh"><i data-feather="edit" style="vertical-align: middle !important "></i></a> |*@
                                                    <a href="@Url.Action("DeleteTh", "TruongLienCaps", new { id = item.HocSinh_ID })" title="Xóa thông tin thí sinh"><i data-feather="trash-2" style="vertical-align:middle!important" disable></i></a>
                                                </td>
                                            </tr>
                                        }
                                    } }
                            </tbody>
                        </table>


                        <!-- Thêm mã phân trang -->
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / Tổng @Model.PageCount trang/ (Tổng @ViewBag.totalRecod bản ghi)
                        @Html.PagedListPager(Model, page => Url.Action("LcTieuhoc", "TruongLienCaps", new
                           {
                               filteriDotxt = ViewBag.DotxtFilteri,
                               filteriHoSo = ViewBag.HoSoFilteri,
                               searchString = ViewBag.SearchString,
                               page
                           }))
                        <!-- Kết thúc  -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

