@model HDU_AppXetTuyen.Models.NganhMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin_Master.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NganhMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nganh_Mt_MaNganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nganh_Mt_MaNganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nganh_Mt_TenNganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nganh_Mt_TenNganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nganh_Mt_NghienCuu_Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nganh_Mt_NghienCuu_Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nganh_Mt_NghienCuu_Ma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nganh_Mt_NghienCuu_Ma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoa_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoa_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nganh_Mt_TenKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nganh_Mt_TenKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nganh_Mt_TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nganh_Mt_TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nganh_Mt_GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nganh_Mt_GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Nganh_Mt_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
