@model HDU_AppXetTuyen.Models.AdminAccount

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Xoá dữ liệu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div>
    <div class="container-fluid px-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-header-actions mt-1 mb-1 ">
                    <dl class="dl-horizontal m-3">
                        <dt>
                            Tên tài khoản
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Admin_Username)
                        </dd>
                        <dt>
                            Họ
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Admin_Ho)
                        </dd>

                        <dt>
                            Tên
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Admin_Ten)
                        </dd>

                        <dt>
                           Quyền
                        </dt>

                        <dd>
                            @{
                                if (@Model.Admin_Quyen == "1")
                                { <div> Quản lý Đại học </div> }
                                if (@Model.Admin_Quyen == "2")
                                {<div>  Quản lý Sau Đại học </div> }
                                if (@Model.Admin_Quyen == "3")
                                { <div>  Quản lý Liên cấp </div>}
                                if (@Model.Admin_Quyen == "4")
                                { <div>  Quản lý Thi năng khiếu</div> }
                            }
                        </dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color m-3">
                            <input type="submit" value="Xoá dữ liệu" class="btn btn-danger" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>