@model HDU_AppXetTuyen.Models.AdminAccount

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AdminAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Admin_Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin_Pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_Pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin_Ho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_Ho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin_Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin_Quyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_Quyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoa_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoa_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Admin_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
