<!-- Thêm thư viện -->
@model PagedList.IPagedList<HDU_AppXetTuyen.Models.AdminAccount>
@using PagedList.Mvc;
<!-- Kết thúc-->
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<style>
    th, td {
        white-space: nowrap;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Quản lý tài khoản</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-header-actions mt-1 mb-1 ">
                <div class="card-header">
                    <span id="sp_tieude">Danh sách tài khoản hệ thống</span>
                    @*<button class="btn btn-outline-primary align-items-center" >
                            @Html.ActionLink("Thêm mới", "Create")
                        </button>*@
                    <a class="btn btn-outline-primary btn-sm align-items-center" href="@Url.Action("Create", "AdminAccounts")"> + Thêm mới</a>

                </div> <div class="card-body">
                    <div class="row g-1">
                        <div class="col-lg-12 col-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th>
                                            Tài khoản
                                        </th>
                                        <th>
                                            Họ
                                        </th>
                                        <th>
                                            Tên
                                        </th>
                                        <th>
                                            Quyền
                                        </th>
                                        <th>
                                            Ghi chú
                                        </th>
                                        <th>

                                        </th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Admin_Username)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Admin_Ho)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Admin_Ten)
                                            </td>
                                            <td>
                                                @{
                                                    if (item.Admin_Quyen == "1")
                                                    { <div> Quản lý Đại học </div> }
                                                    if (item.Admin_Quyen == "2")
                                                    {<div>  Quản lý Sau Đại học </div> }
                                                    if (item.Admin_Quyen == "3")
                                                    { <div>  Quản lý Liên cấp </div>}
                                                    if (item.Admin_Quyen == "4")
                                                    { <div>  Quản lý Thi năng khiếu</div> }
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Admin_Note)
                                            </td>
                                            <td style="white-space:nowrap; vertical-align:middle">
                                                <a href="@Url.Action("Edit", "AdminAccounts", new { id = item.Admin_ID })" title="Xem chi tiết "><i data-feather="edit" style="vertical-align: middle !important "></i></a> |
                                                <a href="@Url.Action("Delete", "AdminAccounts", new { id = item.Admin_ID })" title="Xóa"><i data-feather="trash-2" style="vertical-align:middle!important" disable></i></a>
                                            </td>
                                        </tr>
                                    }



                                </table>
                                <!-- Thêm mã phân trang -->
                                <span class="mb-0">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                                <!-- Kết thúc -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>