@model HDU_AppXetTuyen.Models.Nganh

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nganh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhoiNganh.KhoiNganh_Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhoiNganh.KhoiNganh_Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nganh_MaNganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nganh_MaNganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NganhTenNganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NganhTenNganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoa_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoa_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nganh_GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nganh_GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Nganh_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
