@model PagedList.IPagedList<HDU_AppXetTuyen.Models.ToHopMon>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <h1 class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        Tổ hợp môn
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    @*<a class="btn btn-sm btn-light text-primary" href="user-management-groups-list.html">
                            <i class="me-1" data-feather="users"></i>
                            Manage Groups
                        </a>*@
                    <a class="btn btn-sm btn-light text-primary" href="@Url.Action("Create","ToHopMons")">
                        <i class="me-1" data-feather="user-plus"></i>
                        Thêm mới
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-4">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Thm_MaToHop)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Thm_TenToHop)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Thm_Mon1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Thm_Mon2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Thm_Mon3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Thm_MaTen)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Thm_MaToHop)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Thm_TenToHop)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Thm_Mon1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Thm_Mon2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Thm_Mon3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Thm_MaTen)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Thm_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Thm_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Thm_ID })
                        </td>
                    </tr>
                }

            </table>
            <!-- Thêm mã phân trang -->
            <br />
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page }))
            <!-- Kết thúc -->
        </div>
    </div>
</div>