@model IEnumerable<HDU_AppXetTuyen.Models.KinhPhi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DangKyDuThiNangKhieu.Dkdt_NK_GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DangKyXetTuyen.Dkxt_GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DangKyXetTuyenKhac.Dkxt_GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DangKyXetTuyenKQTQG.Dkxt_KQTQG_GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DangKyXetTuyenThang.Dkxt_GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinhDangKy.ThiSinh_CCCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ptxt_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dxt_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KinhPhi_NgayThang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KinhPhi_SoTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KinhPhi_TepMinhChung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KinhPhi_TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KinhPhi_GhiChu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DangKyDuThiNangKhieu.Dkdt_NK_GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DangKyXetTuyen.Dkxt_GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DangKyXetTuyenKhac.Dkxt_GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DangKyXetTuyenKQTQG.Dkxt_KQTQG_GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DangKyXetTuyenThang.Dkxt_GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinhDangKy.ThiSinh_CCCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ptxt_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dxt_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KinhPhi_NgayThang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KinhPhi_SoTC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KinhPhi_TepMinhChung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KinhPhi_TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KinhPhi_GhiChu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KinhPhi_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KinhPhi_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KinhPhi_ID })
        </td>
    </tr>
}

</table>
