@model IEnumerable<HDU_AppXetTuyen.Models.DangKyXetTuyen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-12">
    <div id="fadeInUp">
        <div class="card card-header-actions mt-3 mb-1">
            <div class="card-header">
                Kết quả xét tuyển
            </div>
            <div class="card-body">

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayName("Đợt xét tuyển")
                        </th>
                        <th>
                            @Html.DisplayName("Mã ngành")
                        </th>
                        <th>
                            @Html.DisplayName("Tên ngành")
                        </th>
                        <th>
                            @Html.DisplayName("Tên phương thức")
                        </th>
                        <th>
                            @Html.DisplayName("Mã tổ hợp")
                        </th>
                        <th>
                            @Html.DisplayName("Thứ tự nguyện vọng")
                        </th>
                        <th>
                            @Html.DisplayName("Tổng điểm")
                        </th>
                        <th width="15%">
                            @Html.DisplayName("Trạng thái")
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DotXetTuyen.Dxt_Ten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nganh.Nganh_MaNganh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nganh.NganhTenNganh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhuongThucXetTuyen.Ptxt_TenPhuongThuc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ToHopMon.Thm_MaToHop)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dkxt_NguyenVong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dkxt_Diem_Tong_Full)
                            </td>
                            <td>
                                @{
                                    if (item.Dkxt_TrangThai_KetQua == 0)
                                    {
                                        <span class="badge bg-info">Chờ xét duyệt</span>
                                    }
                                    else if (item.Dkxt_TrangThai_KetQua == 1)
                                    {
                                        <span class="badge bg-danger">Trượt</span>
                                    }
                                    else if (item.Dkxt_TrangThai_KetQua == 2)
                                    {
                                        <span class="badge bg-success">Trúng tuyển</span>
                                    }
                                }
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>

</div>