<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Đăng ký xét tuyển - HDU</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <!-- bootstrap 5.3-->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/libs_font-awesome_6.1.1_js_all.min.js" data-search-pseudo-elements defer crossorigin="anonymous"></script>
    <script src="~/Scripts/feather.min.js" crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>

<body class="nav-fixed">
    <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
        <!-- Sidenav Toggle Button-->

        <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle" style="border-radius:50%!important;">
            <i class="navbar-toggler-icon" data-feather="menu"></i>
        </button>
        <!-- Navbar Brand-->

        <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="index.html">ĐẠI HỌC HỒNG ĐỨC</a>
        <form class="form-inline me-auto d-none d-lg-block me-3">
            <div class="dropdown-user-details-name">Xin chào: Admin</div>
        </form>
        <!-- Navbar Items-->
        <ul class="navbar-nav align-items-center ms-auto">
            <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" style="border-radius:50px!important" id="navbarDropdownUserImage" href="javascript:void(0);"
                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-fluid" src="~/Content/images/profile-1.png" />
                </a>
                <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                    <h6 class="dropdown-header d-flex align-items-center">
                        <img class="dropdown-user-img" src="~/Content/images/profile-1.png" />
                        <div class="dropdown-user-details">
                            <div class="dropdown-user-details-name">Admin</div>
                            <div class="dropdown-user-details-email"> </div>
                        </div>
                    </h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!">
                        <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                        Tài khoản
                    </a>
                    <a class="dropdown-item" href="@Url.Action("Logout", "AdminAuth")">
                        <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                        Đăng xuất
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sidenav shadow-right sidenav-light">
                <div class="sidenav-menu">
                    <div class="nav accordion" id="accordionSidenav">

                        <!-- Sidenav Menu Heading (Core)-->
                        <div class="sidenav-menu-heading">MENU</div>

                        <!-- Sidenav Accordion (Dashboard)-->

                        <a class="nav-link" href="@Url.Action("Index", "ThiSinhDangKys")">
                            <div class="nav-link-icon"><i data-feather="filter"></i></div>
                            Thông tin thí sinh
                        </a>
                        <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#menuThiSinh" aria-expanded="false" aria-controls="menuThiSinh">
                            <div class="nav-link-icon"><i data-feather="activity"></i></div>
                            Đăng ký xét tuyển
                            <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="menuThiSinh" data-bs-parent="#menuThiSinh">
                            <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                <a class="nav-link" href="@Url.Action("Index", "ThiSinhDangKys")">Thông tin thí sinh</a>
                                <a class="nav-link" href="@Url.Action("Index", "DangKyXetTuyens")">Đăng ký nguyện vọng</a>
                            </nav>
                        </div>
                        <a class="nav-link" href="@Url.Action("Index", "ToHopMons")">
                            <div class="nav-link-icon"><i data-feather="filter"></i></div>
                            Tổ hợp môn
                        </a>
                        <a class="nav-link" href="@Url.Action("Index", "Nganhs")">
                            <div class="nav-link-icon"><i data-feather="package"></i></div>
                            Ngành
                        </a>

                        <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
                            <div class="nav-link-icon"><i data-feather="list"></i></div>
                            Quản lý danh mục
                            <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseDashboards" data-bs-parent="#accordionSidenav">
                            <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                <a class="nav-link" href="@Url.Action("Index", "Namhocs")">Năm học</a>
                                <a class="nav-link" href="@Url.Action("Index", "DotXetTuyens")">Đợt xét tuyển</a>
                                <a class="nav-link" href="@Url.Action("Index", "PhuongThucXetTuyens")">Phương thức xét</a>
                                @*<a class="nav-link" href="@Url.Action("Index", "KhoiNganhs")">Khối nghành</a>*@
                                <a class="nav-link" href="@Url.Action("Index", "KhuVucs")">Khu vực</a>
                                <a class="nav-link" href="@Url.Action("Index", "DoiTuongs")">Đối tượng</a>
                                <a class="nav-link" href="@Url.Action("Index", "Tinhs")"> Tỉnh thành</a>
                                <a class="nav-link" href="@Url.Action("Index", "Huyens")">Quận huyện</a>
                                <a class="nav-link" href="@Url.Action("Index", "Xas")">Phường xã</a>

                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseLienCap" aria-expanded="false" aria-controls="collapseDashboards">
                            <div class="nav-link-icon"><i data-feather="grid"></i></div>
                            QL Trường Liên cấp
                            <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLienCap" data-bs-parent="#accordionSidenav">
                            <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                <a class="nav-link" href="@Url.Action("Index", "LienCapTieuHocs")">Dự tuyển Tiểu học</a>
                                <a class="nav-link" href="@Url.Action("Index", "LienCapTHCS")">Dự tuyển THCS</a>
                            </nav>
                        </div>

                        <a class="nav-link " href="#">
                            <div class="nav-link-icon"><i data-feather="globe"></i></div>
                            Hướng dẫn sử dụng
                        </a>

                    </div>
                </div>
                <!-- Sidenav Footer-->
                <div class="sidenav-footer">
                    <div class="sidenav-footer-content">
                        <div class="sidenav-footer-subtitle">Logged in as:</div>
                        <div class="sidenav-footer-title">HDU</div>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
            <footer class="footer-admin mt-auto footer-light">
                <div class="container-fluid px-12">
                  
                    <div class="row">

                        <div class="col-md-6 small">Copyright &copy;208-FICT-HDU  2023</div>
                        <div class="col-md-6 text-md-end small">
                            <a href="#!" style="color:blue!important; text-decoration:none">Thông tin về trường ĐH Hồng Đức </a> <a href="#!" style="color:blue!important; text-decoration:none">và các ngành</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/bundle.min.js"></script>
    <!-- bootstrap@5.1.3 -->
    <script src="~/Scripts/scripts.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>