<!-- Thêm thư viện -->
@model PagedList.IPagedList<HDU_AppXetTuyen.Models.DangKyXetTuyenKQTQG>
@using PagedList.Mvc;
<!-- Kết thúc-->
@{
    ViewBag.Title = "QL DS DKXT";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<style>
    th, td {
        white-space: nowrap;
    } 
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Quản lý Thí sinh đăng ký xét tuyển</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div class="card card-header-actions">
        @using (Html.BeginForm("DkxtKQTthpt", "DangKyXetTuyens", FormMethod.Get))
        {
            <div class="card-header">

                <div id="div_tieude"><span>Danh sách thí sinh ĐKXT sử dụng kết quả thi TN THPT</span></div>
                <div class="row align-items-center justify-content-center mt-0">
                    <div class="col-auto  p-1" id="div_lb_nam">
                        <label style=" color:black; font-weight:normal">Năm:</label>
                    </div>
                    <div class="col-auto p-1" style="padding-right:10px!important" id="div_txt_nam">
                        <input type="text" id="txtNam" class="form-control form-control" value="@ViewBag.filteriNam" style="width: 60px; " disabled>
                    </div>

                    <div class="col-auto p-1" id="div_select_dot">
                        @*@Html.DropDownList("filteriDotxt", null, new { @class = "form-select", @style = "padding-left:3px; padding-right:30px;" })*@
                    </div>
                    <div class="col-auto  p-1 ">
                        @Html.TextBox("searchString", ViewBag.SearchString as string, new { @class = "form-control", @placeholder = "Nhập từ khóa..." })
                    </div>
                    <div class="col-auto  p-1 ">
                        <button class="btn btn-outline-primary" id="bt_search" style="width: 75px; padding-left:4px; padding-right:4px ">Tìm kiếm</button>
                        <a class="btn btn-outline-secondary" id="bt_reset" href="@Url.Action("DkxtKQTthpt", "DangKyXetTuyens")">Tải lại</a>
                    </div>

                </div>
            </div>
        }
        <script>
            $(document).ready(function () {
                let div_tieude = document.getElementById('div_tieude');
                let div_lb_nam = document.getElementById('div_lb_nam');
                let div_txt_nam = document.getElementById('div_txt_nam');
                let div_select_dot = document.getElementById('div_select_dot');
                let txt_key_search = document.getElementById('searchString');
                let bt_reset = document.getElementById('bt_reset');

                if (window.innerWidth <= 1200) {
                    div_tieude.style.display = "none";
                    div_lb_nam.style.display = "none";
                    div_txt_nam.style.display = "none";
                    div_select_dot.style.display = "inline";
                    bt_reset.style.display = "none";
                    txt_key_search.style.width = "140px"

                }
                else {
                    div_tieude.style.display = "inline";
                    div_lb_nam.style.display = "inline";
                    div_txt_nam.style.display = "inline";
                    div_select_dot.style.display = "inline";
                    bt_reset.style.display = "inline";
                    txt_key_search.style.removeProperty("width");
                }

                function reportWindowSize() {
                    if (window.innerWidth <= 1200) {
                        div_tieude.style.display = "none";
                        div_lb_nam.style.display = "none";
                        div_txt_nam.style.display = "none";
                        div_select_dot.style.display = "inline";
                        bt_reset.style.display = "none";
                        txt_key_search.style.width = "140px"

                    }
                    else {
                        div_tieude.style.display = "inline";
                        div_lb_nam.style.display = "inline";
                        div_txt_nam.style.display = "inline";
                        div_select_dot.style.display = "inline";
                        bt_reset.style.display = "inline";
                        txt_key_search.style.removeProperty("width");
                    }
                }
                window.onresize = reportWindowSize;
            })
        </script>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped" >
                            <thead>
                                <tr>
                                    <th>Họ tên</th>                                 
                                    <th>Nguyện vọng</th>
                                    <th>Ngành</th>
                                    <th>Tổ hợp môn</th>
                                    <th>Tổng điểm</th>
                                    <th>Năm TN</th>
                                    <th>Trạng thái</th>
                                    <th style="width:100px">Cập nhật</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ThiSinhDangKy.ThiSinh_HoLot) @Html.DisplayFor(modelItem => item.ThiSinhDangKy.ThiSinh_Ten)
                                        </td>                                     
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dkxt_KQTQG_NguyenVong)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nganh.Nganh_GhiChu)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ToHopMon.Thm_MaTen)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dkxt_KQTQG_TongDiem_Full)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dkxt_KQTQG_NamTotNghiep)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dkxt_KQTQG_TrangThai)
                                        </td>
                                        <td style="white-space:nowrap">
                                            <a href="@Url.Action("Edit","DangKyXetTuyens" , new { id = item.Dkxt_KQTQG_ID })" title="Xem chi tiết thông tin thí sinh"><i data-feather="list" style="vertical-align: middle !important "></i></a> |
                                            <a href="@Url.Action("Details","DangKyXetTuyens" , new { id = item.Dkxt_KQTQG_ID })" title="Chỉnh sửa thông tin thí sinh tin thí sinh"><i data-feather="edit" style="vertical-align: middle !important "></i></a> |
                                            <a href="#" title="Xóa thông tin thí sinh"><i data-feather="trash-2" style="vertical-align:middle!important" disable></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                         

                        </table>
                        <!-- Thêm mã phân trang -->
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("DkxtKQTthpt", new { page }))
                        <!-- Kết thúc -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

