<!-- Thêm thư viện -->
@model PagedList.IPagedList<HDU_AppXetTuyen.Models.DangKyXetTuyenThang>
@using PagedList.Mvc;
<!-- Kết thúc-->
@{
    ViewBag.Title = "QL DS DKXT";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<style>
    th, td {
        white-space: nowrap;
    }

    .bt-hs {
        width: 80px;
    }

    .bd-rd {
        border-radius: 3px;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Quản lý Thí sinh đăng ký xét tuyển</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div class="card card-header-actions">
        <div class="card-header">
            <div><span id="sp_tieude">Danh sách thí sinh ĐKXT theo phương thức tuyển thẳng theo Quy chế của trường</span></div>
        </div>
        <script>
            $(document).ready(function () {
                let sp_tieude = document.getElementById('sp_tieude');
                if (window.innerWidth <= 1200) {
                    sp_tieude.innerText = "DSTS ĐKXT theo phương thức tuyển thẳng";
                }
                else {
                    sp_tieude.innerText = "Danh sách thí sinh ĐKXT theo phương thức tuyển thẳng theo Quy chế của trường";
                }

                function reportWindowSize() {
                    if (window.innerWidth <= 1200) {
                        sp_tieude.innerText = "DSTS ĐKXT theo phương thức tuyển thẳng";
                    }
                    else {
                        sp_tieude.innerText = "Danh sách thí sinh ĐKXT theo phương thức tuyển thẳng theo Quy chế của trường";
                    }
                }
                window.onresize = reportWindowSize;
            })
        </script>
        <div class="card-body">
            @using (Html.BeginForm("DkxtTt", "DangKyXetTuyens", FormMethod.Get))
            {
                <div class="row g-1">
                    <div class="col-xxl-2 col-md-12">
                        @Html.DropDownList("filteriNvong", null, "Nguyện vọng...", new { @class = "form-select  bd-rd" })
                    </div>

                    <div class="col-xxl-2 col-md-12">
                        @Html.DropDownList("filteriNganh", null, "Ngành...", new { @class = "form-select  bd-rd" })
                    </div>
                    <div class="col-xxl-2 col-md-12">
                        @Html.DropDownList("filteriLePhi", null, "Theo dõi lệ phí...", new { @class = "form-select  bd-rd" })
                    </div>
                    <div class="col-xxl-2 col-md-12">
                        @Html.DropDownList("filteriHoSo", null, "Theo dõi hồ sơ...", new { @class = "form-select  bd-rd" })
                    </div>
                    <div class="col-xxl-2 col-md-12">
                        @Html.TextBox("searchString", ViewBag.SearchString as string, new { @class = "form-control bd-rd", @placeholder = "Nhập từ khóa..." })
                    </div>
                    <div class="col-xxl-2 col-xl-12">
                        <div class="d-inline-flex flex-nowrap align-items-center">
                            <button class="btn btn-outline-primary bd-rd text-nowrap" id="bt_search" style="margin-right:4px" title="Lọc dữ liệu"><i data-feather="filter" style="vertical-align:middle!important"></i></button>
                            <a class="btn btn-outline-primary bd-rd text-nowrap" id="bt_reset" href="@Url.Action("DkxtTt", "DangKyXetTuyens")" style="margin-right:4px;" title="Tải lại dữ liệu"><i data-feather="rotate-ccw" style="vertical-align:middle!important"></i></a>
                            <a class="btn btn-outline-primary bd-rd text-nowrap" id="bt_extend" style="margin-right:4px; display:none"><i data-feather="chevron-down" style="vertical-align:middle!important"></i></a>
                            <a class="btn btn-outline-primary bd-rd text-nowrap" id="bt_collapse" style="margin-right: 4px; display: none"><i data-feather="chevron-up" style="vertical-align:middle!important"></i></a>
                            <a class="btn btn-outline-primary bd-rd  text-nowrap" href="@Url.Action("ExportTsTuyenThang", "ExportDatas")" id="bt_export_excel" style="padding-right:6px; padding-left:6px" title="Xuất dữ liệu ra tệp excel"><i data-feather="download" style="vertical-align:middle!important"></i> Excel</a>


                            @*<button class="btn btn-outline-primary bd-rd " id="bt_search" style="margin-right:4px">Lọc</button>
                                <a class="btn btn-outline-secondary bd-rd  " id="bt_reset" href="@Url.Action("Dkdttnk", "DangKyXetTuyens")" style="padding-right: 6px; padding-left: 6px; margin-right:4px">Tải lại</a>
                                <a class="btn btn-outline-primary bd-rd" id="bt_export" href="@Url.Action("ExportTsTuyenThang", "ExportDatas")" style="padding-right:6px; padding-left:6px">Xuất excel</a>*@
                        </div>
                    </div>
                    <hr class="mt-3 mb-2" />
                </div>
            }
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Họ lót</th>
                                    <th>Tên</th>
                                    <th>Điện thoại</th>
                                    <th>N. vọng</th>
                                    <th>Ngành</th>
                                    <th>Môn đạt giải</th>
                                    <th>Năm Đạt giải</th>
                                    <th>Lệ phí</th>
                                    <th>Hồ sơ</th>
                                    <th style="width:100px">Cập nhật</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ThiSinhDangKy.ThiSinh_HoLot)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ThiSinhDangKy.ThiSinh_Ten)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ThiSinhDangKy.ThiSinh_DienThoai)
                                        </td>
                                        <td>
                                            NV @Html.DisplayFor(modelItem => item.Dkxt_NguyenVong)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nganh.Nganh_TenNganh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dkxt_MonDatGiai)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dkxt_NamDatGiai)
                                        </td>
                                        <td>
                                            @{
                                                if (item.Dkxt_TrangThai_KinhPhi == 0)
                                                {
                                                    <span style="color: red">Chưa nộp minh chứng lệ phí</span>
                                                }
                                                if (item.Dkxt_TrangThai_KinhPhi == 1)
                                                {
                                                    <span style="color: red">Đã nộp, chưa kiểm tra</span>
                                                }
                                                if (item.Dkxt_TrangThai_KinhPhi == 2)
                                                {
                                                    <span style="color:blue">Đã kiểm tra, có sai sót</span>
                                                }
                                                if (item.Dkxt_TrangThai_KinhPhi == 3)
                                                {
                                                    <span style="color:red">Đã sửa, chưa kiểm tra</span>
                                                }
                                                if (item.Dkxt_TrangThai_KinhPhi == 9)
                                                {
                                                    <span>Đã kiểm tra, đúng</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (item.Dkxt_TrangThai_HoSo == 0)
                                                {
                                                    <span style="color: red">Chưa kiểm tra</span>
                                                }
                                                if (item.Dkxt_TrangThai_HoSo == 1)
                                                {
                                                    <span style="color: blue">Đã kiểm tra, có sai sót</span>
                                                }
                                                if (item.Dkxt_TrangThai_HoSo == 2)
                                                {
                                                    <span style="color: red">Đã sửa, chưa kiểm tra</span>
                                                }
                                                if (item.Dkxt_TrangThai_HoSo == 9)
                                                {
                                                    <span>Đã kiểm tra, hồ sơ đúng, đủ</span>
                                                }
                                            }
                                        </td>

                                        <td style="white-space:nowrap">
                                            <a class="btn btn-light btn-sm" onclick="KiemtraThongTinDangky(@item.Dkxt_ID)">Kiểm tra</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <!-- Thêm mã phân trang -->
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / Tổng @Model.PageCount trang/ (Tổng @ViewBag.totalRecod bản ghi)
                        @Html.PagedListPager(Model, page => Url.Action("DkxtTt", new
                        {
                            filteriNvong = ViewBag.NvongFilteri,
                            filteriNganh = ViewBag.NganhFilteri,
                            filteriLePhi = ViewBag.LePhiFilteri,
                            filteriHoSo = ViewBag.HoSoFilteri,
                            searchString = ViewBag.SearchString,
                            page
                        }))
                        <!-- Kết thúc  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function KiemtraThongTinDangky(id) {
        var str_query = window.location.search;

        if (str_query.length == 0) {
            str_query = '?Dkxt_ID=' + id;
        }
        else {
            str_query += '&Dkxt_ID=' + id;
        }
        window.location.href = "/Admin/DangKyXetTuyens/DkxtTt_hs_view" + str_query;
    }
</script>