@model HDU_AppXetTuyen.Models.DangKyXetTuyenHB

@{
    ViewBag.Title = "DkxtHocBaHoSo";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<style>
    label {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .padding_input_text_number {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center !important;
    }

    .btn, .form-select, .form-control {
        border-radius: 3px;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span> Quản lý Thí sinh đăng ký xét tuyển</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div id="div_view_data">
        <div class="card card-collapsable mt-1 mb-1">
            <div class="card-header">
                <div><span id="sp_tieude">Kiểm tra và xác thực thông tin đăng ký xét tuyển bằng học bạ</span></div>
                <script>
                    $(document).ready(function () {
                        let sp_tieude = document.getElementById('sp_tieude');
                        if (window.innerWidth <= 1200) {
                            sp_tieude.innerText = "Kiểm tra, xác thực TT ĐKXT bằng HB";
                        }
                        else {
                            sp_tieude.innerText = "Kiểm tra và xác thực thông tin đăng ký xét tuyển bằng học bạ";
                        }

                        function reportWindowSize() {
                            if (window.innerWidth <= 1200) {
                                sp_tieude.innerText = "Kiểm tra, xác thực TT ĐKXT bằng HB";
                            }
                            else {
                                sp_tieude.innerText = "Kiểm tra và xác thực thông tin đăng ký xét tuyển bằng học bạ";
                            }
                        }
                        window.onresize = reportWindowSize;
                    })
                </script>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col-lg-4 col-md-12">
                        <div class="row g-1">
                            <div class="col-xl-12 ">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="5">Điểm các môn thí sinh nhập</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr>
                                            <td style="vertical-align: middle; width: 9%;">Môn</td>
                                            <td style="vertical-align: middle; text-align: center; width: 22%">HK1/11</td>
                                            <td style="vertical-align: middle; text-align: center; width: 22%">HK2/11</td>
                                            <td style="vertical-align: middle; text-align: center; width: 22%">HK1/12</td>
                                            <td style="vertical-align: middle; text-align: center; width: 25%">TBC</td>
                                        </tr>
                                        <tr style="vertical-align:middle;">
                                            <td><label id="lb_tenmon_1" class="form-label">Toán</label></td>
                                            <td><input id="txt_m1_k1" type="text" class="form-control input-mon1 padding_input_text_number " disabled /></td>
                                            <td><input id="txt_m1_k2" type="text" class="form-control input-mon1 padding_input_text_number " disabled /></td>
                                            <td><input id="txt_m1_k3" type="text" class="form-control input-mon1 padding_input_text_number " disabled /></td>
                                            <td><input id="txt_tb_m1" type="text" class="form-control padding_input_text_number input-tong" disabled /></td>
                                        </tr>
                                        <tr style="vertical-align:middle;">
                                            <td><label id="lb_tenmon_2" class="form-label">Lý</label></td>
                                            <td><input id="txt_m2_k1" type="text" class="form-control input-mon2 padding_input_text_number " disabled /></td>
                                            <td><input id="txt_m2_k2" type="text" class="form-control input-mon2 padding_input_text_number " disabled /></td>
                                            <td><input id="txt_m2_k3" type="text" class="form-control input-mon2 padding_input_text_number " disabled /></td>
                                            <td><input id="txt_tb_m2" type="text" class="form-control padding_input_text_number input-tong" disabled /></td>
                                        </tr>
                                        <tr style="vertical-align:middle;">
                                            <td><label id="lb_tenmon_3" class="form-label">GDCD</label></td>
                                            <td><input id="txt_m3_k1" type="text" class="form-control input-mon3 padding_input_text_number " disabled /></td>
                                            <td><input id="txt_m3_k2" type="text" class="form-control input-mon3 padding_input_text_number " disabled /></td>
                                            <td><input id="txt_m3_k3" type="text" class="form-control input-mon3 padding_input_text_number " disabled /></td>
                                            <td><input id="txt_tb_m3" type="text" class="form-control padding_input_text_number input-tong" disabled /></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            ts_dkxt_hocba_detail();
                        })
                        function ts_dkxt_hocba_detail() {
                            var dataObj = {
                                Dkxt_HB_ID: $('#dkxt_hb_id_checkin').val()
                            }
                            $.ajax({
                                url: '/Admin/DangKyXetTuyens/DkxtHocBa_hs_Detail/',
                                data: JSON.stringify(dataObj),
                                type: 'POST',
                                contentType: 'application/json;charset=utf-8',
                                dataType: 'json',
                                success: function (res) {
                                    if (res.success) {
                                        var data = res.data[0];
                                        console.log(data);

                                        // hiển thị tên môn học đã đăng ký
                                        $('#lb_tenmon_1').text(data.tenMon1);
                                        $('#lb_tenmon_2').text(data.tenMon2);
                                        $('#lb_tenmon_3').text(data.tenMon3);

                                        // hiển thị điểm môn học đã đăng ký
                                        $('#txt_m1_k1').val(((data.diemMon1_HK1) * 100 / 100).toFixed(2));
                                        $('#txt_m1_k2').val(((data.diemMon1_HK2) * 100 / 100).toFixed(2));
                                        $('#txt_m1_k3').val(((data.diemMon1_HK3) * 100 / 100).toFixed(2));
                                        $('#txt_tb_m1').val(((data.diemMon1_TBMon) * 100 / 100).toFixed(2));

                                        $('#txt_m2_k1').val(((data.diemMon2_HK1) * 100 / 100).toFixed(2));
                                        $('#txt_m2_k2').val(((data.diemMon2_HK2) * 100 / 100).toFixed(2));
                                        $('#txt_m2_k3').val(((data.diemMon2_HK3) * 100 / 100).toFixed(2));
                                        $('#txt_tb_m2').val(((data.diemMon2_TBMon) * 100 / 100).toFixed(2));

                                        $('#txt_m3_k1').val(((data.diemMon3_HK1) * 100 / 100).toFixed(2));
                                        $('#txt_m3_k2').val(((data.diemMon3_HK2) * 100 / 100).toFixed(2));
                                        $('#txt_m3_k3').val(((data.diemMon3_HK3) * 100 / 100).toFixed(2));
                                        $('#txt_tb_m3').val(((data.diemMon3_TBMon) * 100 / 100).toFixed(2));


                                        // hiển thị minh chứng học bạ
                                        if (data.dkxt_MinhChung_HocBa) {
                                            const ArrHocBa = data.dkxt_MinhChung_HocBa.split("#");
                                            for (i = 0; i < ArrHocBa.length; i++) {
                                                if (ArrHocBa[i].length > 0) {
                                                    var str_a = `<a class="btn btn-light btn-sm" style="color:blue" onclick="showimg('${ArrHocBa[i]}', 1,${data.dkxt_ID} )">Tệp ${i + 1}</a> &ensp;`;
                                                    $('#div_list_view_hocba').append(str_a);
                                                }
                                            }
                                        }
                                        else {
                                            var str_a = `<a style="color:red">Không có dữ liệu</a> &ensp;`;
                                            $('#div_list_view_hocba').append(str_a);
                                        }


                                        // hiển thị minh chứng  bằng
                                        if (data.dkxt_MinhChung_Bang) {
                                            const ArrBangTN = data.dkxt_MinhChung_Bang.split("#");
                                            for (i = 0; i < ArrBangTN.length; i++) {
                                                if (ArrBangTN[i].length > 0) {
                                                    var str_a = `<a class="btn btn-light btn-sm" style="color:blue" onclick="showimg('${ArrBangTN[i]}', 1,${data.dkxt_ID} )">Tệp ${i + 1}</a> &ensp;`;
                                                    $('#div_list_view_bangtn').append(str_a);
                                                }
                                            }
                                        }
                                        else {
                                            var str_a = `<a style="color:red">Không có dữ liệu</a> &ensp;`;
                                            $('#div_list_view_bangtn').append(str_a);
                                        }

                                        // hiển thị minh chứng giấy tờ ưu tiên
                                        if (data.dkxt_MinhChung_UuTien) {
                                            const ArrGtUt = data.dkxt_MinhChung_UuTien.split("#");
                                            for (i = 0; i < ArrGtUt.length; i++) {
                                                if (ArrGtUt[i].length > 0) {
                                                    var str_a = `<a class="btn btn-light btn-sm" style="color:blue" onclick="showimg('${ArrGtUt[i]}', 1,${data.dkxt_ID} )">Tệp ${i + 1}</a> &ensp;`;
                                                    $('#div_list_view_giayto_uutien').append(str_a);
                                                }
                                            }
                                        }
                                        else {
                                            var str_a = `<a style="color:red">Không có dữ liệu</a> &ensp;`;
                                            $('#div_list_view_giayto_uutien').append(str_a);
                                        }

                                        // hiển thị minh chứng căn cước công dân
                                        if (data.dkxt_MinhChung_CCCD) {
                                            const ArrCCongDan = data.dkxt_MinhChung_CCCD.split("#");
                                            for (i = 0; i < ArrCCongDan.length; i++) {
                                                if (ArrCCongDan[i].length > 0) {
                                                    var str_a = `<a class="btn btn-light btn-sm" style="color:blue" onclick="showimg('${ArrCCongDan[i]}', 1,${data.dkxt_ID} )">Tệp ${i + 1}</a> &ensp;`;
                                                    $('#div_list_view_cancuoc_congdan').append(str_a);
                                                }
                                            }
                                        }
                                        else {
                                            var str_a = `<a style="color:red">Không có dữ liệu</a> &ensp;`;
                                            $('#div_list_view_cancuoc_congdan').append(str_a);
                                        }
                                    }
                                },
                                error: function () {
                                    console.log("Có lỗi xảy ra trong quá trình thực hiện");
                                }
                            });
                        }
                    </script>
                    <script>
                        function showimg(url, loaimc, id_key_hv_dutuyen) {
                            $("#hiden_duongdan_file_xoa").val(url);
                            $('#hiden_loai_minhchung_xoa').val(loaimc);

                            var pdf_view = document.getElementById("pdf_view");
                            pdf_view.style.display = "none";
                            pdf_view.style.height = "0px";

                            $('#img_view').hide();
                            $("#img_view").attr("src", "");

                            if (loaimc == 1) {
                                $('#img_txt_card_hearder').text('Minh chứng kết quả tốt nghiệp THPT');
                            }
                            if (loaimc == 2) {
                                $('#img_txt_card_hearder').text('Học bạ và Bằng tốt nghiệp');
                            }
                            if (loaimc == 3) {
                                $('#img_txt_card_hearder').text('Giấy tờ Ưu tiên');
                            }
                            if (loaimc == 4) {
                                $('#img_txt_card_hearder').text('Căn cước công dân');
                            }
                            var lastChar = url.substr(url.length - 4); // => kiểm tra file pdf hoặc img

                            if (lastChar.toLowerCase() != ".pdf") {
                                pdf_view.style.display = "none";
                                pdf_view.style.height = "0px";

                                $("#img_view").attr("src", url);
                                $("#img_view").show();
                            }
                            if (lastChar.toLowerCase() === ".pdf") {
                                $("#img_view").hide();
                                pdf_view.style.display = "inline";
                                pdf_view.style.height = "700px";
                                $("#pdf_view").attr("src", url);
                                $("#pdf_view").show();
                            }
                            $('#div_view_img').show();
                        }
                        $(document).ready(function () {
                            $('#bt_close_div_view_img').click(function () {
                                $('#div_view_img').hide();
                                $("#img_view").attr("src", "");
                                $("#pdf_view").attr("src", "");
                                $('#img_txt_card_hearder').text('Hình ảnh minh chứng');
                            });
                        });
                    </script>
                    <div class="col-lg-4 col-md-12">
                        <div class="row">
                            <div class="col-xl-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Dữ liệu minh chứng khác
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-12 col-12 p-1">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-12">Tệp minh chứng học bạ</label>
                                                            <div class="col-md-12" id="div_list_view_hocba">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr class="mt-1 mb-1" />
                                                    <div class="col-lg-12 col-12 p-1">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-12">Minh chứng Bằng tốt nghiệp</label>
                                                            <div class="col-md-12" id="div_list_view_bangtn">                                                             
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr class="mt-0 mb-1" />
                                                    <div class="col-lg-12 col-12 p-1">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-12">Giấy tờ Ưu tiên</label>
                                                            <div class="col-md-12" id="div_list_view_giayto_uutien">                                                               
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr class="mt-0 mb-1" />
                                                    <div class="col-lg-12 col-12 p-1">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-12">Căn cước công dân:</label>
                                                            <div class="col-md-12" id="div_list_view_cancuoc_congdan">                                                               
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="row table-responsive">
                            <div class="col-xl-12 ">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Kiểm duyệt hồ sơ</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr>
                                            <td colspan="2">
                                                <div class="row">
                                                    <div class="col-xl-4 col-12 ">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" id="rd_mc_nhapdiemsai" name="rd_minhchung">
                                                            <label class="form-check-label" for="radioNua">Nhập điểm sai</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-12 ">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" id="rd_mc_thieu" name="rd_minhchung">
                                                            <label class="form-check-label" for="radioNam">MC thiếu</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-12 ">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" id="rd_mc_hs_du" name="rd_minhchung">
                                                            <label class="form-check-label" for="radioNua">HS đầy đủ</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row g-1 mt-2">
                                                    <label class="form-label col-lg-2 col-12">Ghi chú</label>
                                                    <div class="col-lg-10 col-12">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <div class="row">
                                                    <label class="control-label col-md-12 mt-2" style="font-weight:bold">Minh chứng nộp lệ phí</label>
                                                    <hr class="mt-1 mb-1" />
                                                    <div class="d-inline-flex flex-nowrap mb-1">
                                                        <label class="control-label" style="color:red">Số tham chiếu: 012345</label>
                                                        <div class="form-check" style="margin-left:8px">
                                                            <input class="form-check-input" type="radio" id="rd_mc_diem" name="rd_minhchung">
                                                            <label class="form-check-label" for="radioNam">Đúng</label>
                                                        </div>
                                                        <div class="form-check" style="margin-left:8px">
                                                            <input class="form-check-input" type="radio" id="rd_mc_hs_du" name="rd_minhchung">
                                                            <label class="form-check-label" for="radioNua">Sai</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12" id="div_list_view_cancuoc_congdan">
                                                        <a class="btn btn-light btn-sm" style="color:blue">Tệp 1</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12" style="text-align:center">
                                <input type="button" class="btn btn-primary" value="Duyệt hồ sơ" />
                                <input type="button" class="btn btn-primary" value="Quay lại" id="bt_returnform_list" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div_view_img" style="display:none">
        <div class="row">
            <div class="col-xl-12 mt-2">
                <div class="card card-header-actions">
                    <div class="card-header mt-0 mb-0">
                        <span id="img_txt_card_hearder">Hình ảnh minh chứng</span>
                        <div>
                            <button class="btn-close" type="button" aria-label="Close" id="bt_close_div_view_img"></button>
                        </div>
                    </div>
                    <div class="card-body" style="margin: 0px!important">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" id="div_item_view_minhchung">
                                    <img class="d-block w-100 img-hide" id="img_view" display:none">
                                    <embed id="pdf_view" class="d-block w-100" style="height:700px; display:none" type="application/pdf" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Các tham số lưu để truyền dữ liệu-->
<div>
    <input type="hidden" value="@ViewBag.DotxtFilteri" id="filteriDotxt_bak" name="filteriDotxt_bak" />
    <input type="hidden" value="@ViewBag.NvongFilteri" id="filteriNvong_bak" name="filteriNvong_bak" />
    <input type="hidden" value="@ViewBag.NganhFilteri" id="filteriNganh_bak" name="filteriNganh_bak" />
    <input type="hidden" value="@ViewBag.LePhiFilteri" id="filteriLePhi_bak" name="filteriLePhi_bak" />
    <input type="hidden" value="@ViewBag.HoSoFilteri" id="filteriHoSo_bak" name="filteriHoSo_bak" />
    <input type="hidden" value="@ViewBag.SearchString" id="searchString_bak" name="searchString_bak" />
    <input type="hidden" value="@ViewBag.pageCurren" id="page_bak" name="page_bak" />

    <input type="hidden" value="@ViewBag.Dkxt_HB_ID" id="dkxt_hb_id_checkin" name="dkxt_hb_id_checkin" />
</div>
<!--Hết phần Các tham số lưu để truyền dữ liệu-->
<script>

    $(document).ready(function () {
        let sp_tieude = document.getElementById('sp_tieude');
        if (window.innerWidth <= 1200) {
            sp_tieude.innerText = "Kiểm tra, xác thực TT ĐKXT bằng Học bạ";
        }
        else {
            sp_tieude.innerText = "Kiểm tra và xác thực thông tin đăng ký xét tuyển bằng học bạ";
        }

        function reportWindowSize() {
            if (window.innerWidth <= 1200) {
                sp_tieude.innerText = "Kiểm tra, xác thực TT ĐKXT bằng Học bạ";
            }
            else {
                sp_tieude.innerText = "Kiểm tra và xác thực thông tin đăng ký xét tuyển bằng học bạ";
            }
        }
        window.onresize = reportWindowSize;
        $('#bt_returnform_list').click(function () {
            let queryString_back = window.location.search;
            window.location.href = "/Admin/DangKyXetTuyens/DkxtHocBa/" + queryString_back;
        });
    })

    $('#bt_returnform_list23').click(function () {
        var str = '?filteriDotxt=' + $('#filteriDotxt_bak').val() +
            '&filteriNvong=' + $('#filteriNvong_bak').val() +
            '&filteriNganh=' + $('#filteriNganh_bak').val() +
            '&filteriLePhi=' + $('#filteriLePhi_bak').val() +
            '&filteriHoSo=' + $('#filteriHoSo_bak').val() +
            '&searchString=' + $('#searchString_bak').val() +
            '&page=' + $('#page_bak').val();
        window.location.href = "/Admin/DangKyXetTuyens/DkxtHocBa" + str;
    });
</script>