@model HDU_AppXetTuyen.Models.DangKyXetTuyenKQTQG

@{
    ViewBag.Title = "DkxtKQTthpt_view_hs";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

@{
    ViewBag.Title = "DkxtHocBaHoSo";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<style>
    label {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .padding_input_text_number {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center !important;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span> Quản lý Thí sinh đăng ký xét tuyển</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div class="card card-collapsable mt-1 mb-1">
        <div class="card-header">
            <div><span id="sp_tieude">Kiểm tra và xác thực thông tin đăng ký tuyển thẳng theo quy định của trường</span></div>
            <script>
                $(document).ready(function () {
                    let sp_tieude = document.getElementById('sp_tieude');
                    if (window.innerWidth <= 1200) {
                        sp_tieude.innerText = "Kiểm tra, xác thực TT ĐKXT tuyển thẳng";
                    }
                    else {
                        sp_tieude.innerText = "Kiểm tra và xác thực thông tin đăng ký tuyển thẳng theo quy định của trường";
                    }

                    function reportWindowSize() {
                        if (window.innerWidth <= 1200) {
                            sp_tieude.innerText = "Kiểm tra, xác thực TT ĐKXT tuyển thẳng";
                        }
                        else {
                            sp_tieude.innerText = "Kiểm tra và xác thực thông tin đăng ký tuyển thẳng theo quy định của trường";
                        }
                    }
                    window.onresize = reportWindowSize;
                })
            </script>
        </div>
        <div class="card-body">
            <div class="row g-1">
                <div class="col-lg-8 col-md-12">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" id="bt_mc_showlabel" style="color:black">Minh chứng kết quả tốt nghiệp THPT</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" id="bt_mc_cn_totnghiep" style="color:black">Minh chứng chứng nhận kết quả đạt giải</a></li>
                                <li><a class="dropdown-item" href="#" id="bt_mc_hocba_bangtn" style="color:black">Minh chứng Bằng tốt nghiệp và học bạ</a></li>
                                <li><a class="dropdown-item" href="#" id="bt_mc_cccd" style="color:black">Minh chứng căn cước công dân</a></li>
                                <li><a class="dropdown-item" href="#" id="bt_mc_gtut" style="color:black">Minh chứng giấy tờ Ưu tiên</a></li>
                            </ul>
                        </li>
                    </ul>
                    <script>
                        $(document).ready(function () {
                            $('#bt_mc_cn_totnghiep').click(function (e) {
                                e.preventDefault();
                                $('#bt_mc_showlabel').text($('#bt_mc_cn_totnghiep').text());
                                $("#div_mc_cn_totnghiep").show();
                                $("#div_mc_hocba_bangtn").hide();
                                $("#div_mc_cccd").hide();
                                $("#div_mc_gtut").hide();
                            });
                            $('#bt_mc_hocba_bangtn').click(function (e) {
                                e.preventDefault();
                                $('#bt_mc_showlabel').text($('#bt_mc_hocba_bangtn').text());
                                $("#div_mc_cn_totnghiep").hide();
                                $("#div_mc_hocba_bangtn").show();
                                $("#div_mc_cccd").hide();
                                $("#div_mc_gtut").hide();
                            });
                            $('#bt_mc_cccd').click(function (e) {
                                e.preventDefault();
                                $('#bt_mc_showlabel').text($('#bt_mc_cccd').text());
                                $("#div_mc_cn_totnghiep").hide();
                                $("#div_mc_hocba_bangtn").hide();
                                $("#div_mc_cccd").show();
                                $("#div_mc_gtut").hide();
                            });
                            $('#bt_mc_gtut').click(function (e) {
                                e.preventDefault();
                                $('#bt_mc_showlabel').text($('#bt_mc_gtut').text());
                                $("#div_mc_cn_totnghiep").hide();
                                $("#div_mc_hocba_bangtn").hide();
                                $("#div_mc_cccd").hide();
                                $("#div_mc_gtut").show();
                            });
                        })
                    </script>
                    <hr style="margin-top: 2px; margin-bottom:8px" />
                    <div class="row" id="div_mc_cn_totnghiep">
                        <div class="col-xl-12">
                            <div id="carousel_cn_totnghiep" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators" id="list_item_bt_cn_totnghiep"></div>
                                <div class="carousel-inner" id="list_item_div_cn_totnghiep">
                                    @*<embed src="~/Uploads/DKXTHocBaFile/0030.pdf#toolbar=0#zoom=100" style="width: 100% !important; height: 650px" />*@
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel_cn_totnghiep" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel_cn_totnghiep" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="div_mc_hocba_bangtn" style="display:none">
                        <div class="col-xl-12">
                            <div id="carousel_hocba_bangtn" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators" id="list_item_bt_cn_hocba_bangtn"> </div>
                                <div class="carousel-inner" id="list_item_div_cn_hocba_bangtn"> </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel_hocba_bangtn" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel_hocba_bangtn" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="div_mc_cccd" style="display:none">
                        <div class="col-xl-12">
                            <div id="carousel_cancuoc_congdan" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators" id="list_item_bt_cn_cccd"></div>
                                <div class="carousel-inner" id="list_item_div_cn_cccd"></div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel_cancuoc_congdan" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel_cancuoc_congdan" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="div_mc_gtut" style="display:none">
                        <div class="col-xl-12">
                            <div id="carousel_giayto_uutien" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators" id="list_item_bt_cn_gtut"> </div>
                                <div class="carousel-inner" id="list_item_div_cn_gtut"> </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel_giayto_uutien" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel_giayto_uutien" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav" style="margin:0px">
                                <li class="nav-item " style="margin:0px">
                                    <a class="nav-link" href="#" role="button" style="color:black">Thông tin đạt giải</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <hr style="margin-top: 2px; margin-bottom:8px" />
                    <div class="row">
                        <div class="col-xl-12">
                            <table class="table table-hover">
                                <tbody id="tbody_list_diemmonhoc">
                                    <tr>
                                        <td>Năm đạt giải</td>
                                        <td>
                                            <input id="txt_NamDatGiai" type="text" class="form-control" disabled />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Môn đạt giải</td>
                                        <td>
                                            <input id="txt_MonDatGiai" type="text" class="form-control" disabled />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Loại giải</td>
                                        <td>
                                            <input id="txt_LoaiGiai" type="text" class="form-control" disabled />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xl-12">
                            <table class="table table-hover">
                                <tr>
                                    <th colspan="2">Kiểm duyệt hồ sơ</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="d-inline-flex flex-nowrap">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="rd_mc_diem" name="rd_minhchung" checked value="0">
                                                <label class="form-check-label" for="radioNam">Minh chứng thiếu</label>
                                            </div>
                                            <div class="form-check" style="margin-left:10px">
                                                <input class="form-check-input" type="radio" id="rd_mc_hs_du" name="rd_minhchung" value="1">
                                                <label class="form-check-label" for="radioNua">Hồ sơ đầy đủ</label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:60px">   <label class="form-label">Ghi chú</label></td>
                                    <td> <input type="text" class=" form-control" /></td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-12" style="text-align:center">
                            <input type="button" class="btn btn-primary" value="Xác nhận thông tin thí sinh" />
                            <input type="button" class="btn btn-primary" value="Hủy bỏ" />
                           
                        </div>


                        <div class="col-12">
                            <div id="test_add">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Các tham số lưu để truyền dữ liệu-->
    <input type="hidden" value="@ViewBag.DotxtFilteri" id="filteriDotxt_bak" name="filteriDotxt_bak" />
    <input type="hidden" value="@ViewBag.NvongFilteri" id="filteriNvong_bak" name="filteriNvong_bak" />
    <input type="hidden" value="@ViewBag.NganhFilteri" id="filteriNganh_bak" name="filteriNganh_bak" />
    <input type="hidden" value="@ViewBag.LePhiFilteri" id="filteriLePhi_bak" name="filteriLePhi_bak" />
    <input type="hidden" value="@ViewBag.HoSoFilteri" id="filteriHoSo_bak" name="filteriHoSo_bak" />
    <input type="hidden" value="@ViewBag.SearchString" id="searchString_bak" name="searchString_bak" />
    <input type="hidden" value="@ViewBag.pageCurren" id="page_bak" name="page_bak" />
    <input type="hidden" value="@ViewBag.Dkxt_KQTQG_ID" id="dkxt_kqtqg_id_checkin" name="dkxt_kqtqg_id_checkin" />
    <!--Hết phần Các tham số lưu để truyền dữ liệu-->
    <script>
        $(document).ready(function () {

            ts_dkxt_thptqg_detail();
        })
        function ts_dkxt_thptqg_detail() {
            return;
            var dataObj = {
                Dkxt_KQTQG_ID: $('#dkxt_kqtqg_id_checkin').val()
            }
            $.ajax({
                url: "/Admin/DangKyXetTuyens/DkxtKQTthpt_hs_Detail/",
                data: JSON.stringify(dataObj),
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    // hiển thị minh chứng điểm thi tốt nghiệp
                    var mc_diemtn = result[0].dkxt_KQTQG_MinhChung_CNTotNghiep;
                    var mc_diemtn_arr = mc_diemtn.split("#");
                    for (var index_mc_diem = 0; index_mc_diem < mc_diemtn_arr.length - 1; index_mc_diem++) {
                        if (index_mc_diem == 0) {
                            var str_bt_diem_first = '<button type="button" data-bs-target="#carousel_cn_totnghiep" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>';
                            $('#list_item_bt_cn_totnghiep').append(str_bt_diem_first);
                            var str_div_diem_first = '<div class="carousel-item active">' + '<img src="' + mc_diemtn_arr[0] + '" class="h-100 d-block w-100" alt="...">' + '</div>';
                            $('#list_item_div_cn_totnghiep').append(str_div_diem_first);
                        }
                        else {
                            var str_bt_diem_second = '<button type="button" data-bs-target="#carousel_cn_totnghiep" data-bs-slide-to="' + index_mc_diem + '" aria-label="Slide ' + index_mc_diem + '"></button>';
                            $('#list_item_bt_cn_totnghiep').append(str_bt_diem_second);
                            var str_div_diem_second = '<div class="carousel-item">' + '<img src="' + mc_diemtn_arr[index_mc_diem] + '" class="h-100 d-block w-100" alt="...">' + '</div>';
                            $('#list_item_div_cn_totnghiep').append(str_div_diem_second);
                        }
                    }
                    // hiển thị minh chứng  học bạ và bằng
                    var mc_hocba_bangtn = result[0].dkxt_KQTQG_MinhChung_HocBa;
                    var mc_hocba_bangtn_arr = mc_hocba_bangtn.split("#");

                    for (var index_mc_hb_bang = 0; index_mc_hb_bang < mc_hocba_bangtn_arr.length - 1; index_mc_hb_bang++) {

                        if (index_mc_hb_bang == 0) {
                            var str_bt_hbb_first = '<button type="button" data-bs-target="#carousel_hocba_bangtn" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>';
                            $('#list_item_bt_cn_hocba_bangtn').append(str_bt_hbb_first);
                            var str_div_hbb_first = '<div class="carousel-item active">' + '<img src="' + mc_hocba_bangtn_arr[0] + '" class="h-100 d-block w-100" alt="...">' + '</div>';
                            $('#list_item_div_cn_hocba_bangtn').append(str_div_hbb_first);
                        }
                        else {
                            var str_bt_hbb_second = '<button type="button" data-bs-target="#carousel_hocba_bangtn" data-bs-slide-to="' + index_mc_hb_bang + '" aria-label="Slide ' + index_mc_hb_bang + '"></button>';
                            $('#list_item_bt_cn_hocba_bangtn').append(str_bt_hbb_second);
                            var str_div_hbb_second = '<div class="carousel-item">' + '<img src="' + mc_hocba_bangtn_arr[index_mc_hb_bang] + '" class="h-100 d-block w-100" alt="...">' + '</div>';
                            $('#list_item_div_cn_hocba_bangtn').append(str_div_hbb_second);
                        }
                    }

                    // hiển thị minh chứng căn cước công dân
                    var mc_cccd = result[0].dkxt_KQTQG_MinhChung_CCCD;
                    var mc_cccd_arr = mc_cccd.split("#");

                    for (var index_mc_cccd = 0; index_mc_cccd < mc_cccd_arr.length - 1; index_mc_cccd++) {

                        if (index_mc_cccd == 0) {
                            var str_bt_cccd_first = '<button type="button" data-bs-target="#carousel_cancuoc_congdan" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>';
                            $('#list_item_bt_cn_cccd').append(str_bt_cccd_first);
                            var str_div_cccd_first = '<div class="carousel-item active">' + '<img src="' + mc_cccd_arr[0] + '" class="h-100 d-block w-100" alt="...">' + '</div>';
                            $('#list_item_div_cn_cccd').append(str_div_cccd_first);
                        }
                        else {
                            var str_bt_cccd_second = '<button type="button" data-bs-target="#carousel_cancuoc_congdan" data-bs-slide-to="' + index_mc_cccd + '" aria-label="Slide ' + index_mc_cccd + '"></button>';
                            $('#list_item_bt_cn_cccd').append(str_bt_cccd_second);
                            var str_div_cccd_second = '<div class="carousel-item">' + '<img src="' + mc_cccd_arr[index_mc_cccd] + '" class="h-100 d-block w-100" alt="...">' + '</div>';
                            $('#list_item_div_cn_cccd').append(str_div_cccd_second);
                        }
                    }
                    //
                    // hiển thị minh chứng giấy tờ ưu tiên
                    var mc_gtut = result[0].dkxt_KQTQG_MinhChung_UuTien;
                    var mc_gtut_arr = mc_gtut.split("#");
                    console.log(mc_gtut_arr);

                    for (var index_mc_gtut = 0; index_mc_gtut < mc_gtut_arr.length - 1; index_mc_gtut++) {

                        if (index_mc_gtut == 0) {
                            var str_bt_gtut_first = '<button type="button" data-bs-target="#carousel_giayto_uutien" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>';
                            $('#list_item_bt_cn_gtut').append(str_bt_gtut_first);
                            var str_div_gtut_first = '<div class="carousel-item active">' + '<img src="' + mc_gtut_arr[0] + '" class="h-100 d-block w-100" alt="...">' + '</div>';
                            $('#list_item_div_cn_gtut').append(str_div_gtut_first);
                        }
                        else {
                            var str_bt_gtut_second = '<button type="button" data-bs-target="#carousel_giayto_uutien" data-bs-slide-to="' + index_mc_gtut + '" aria-label="Slide ' + index_mc_gtut + '"></button>';
                            $('#list_item_bt_cn_gtut').append(str_bt_gtut_second);
                            var str_div_gtut_second = '<div class="carousel-item">' + '<img src="' + mc_gtut_arr[index_mc_gtut] + '" class="h-100 d-block w-100" alt="...">' + '</div>';
                            $('#list_item_div_cn_gtut').append(str_div_gtut_second);
                        }
                    }

                    $('#lb_tenmon_1').text(result[0].tenMon1);
                    $('#lb_tenmon_2').text(result[0].tenMon2);
                    $('#lb_tenmon_3').text(result[0].tenMon3);

                    $('#txt_m1').val(((result[0].diemMon1) * 100 / 100).toFixed(2));
                    $('#txt_m2').val(((result[0].diemMon2) * 100 / 100).toFixed(2));
                    $('#txt_m3').val(((result[0].diemMon3) * 100 / 100).toFixed(2));

                    $('#txt_tong_diem').val(((result[0].dkxt_KQTQG_Diem_Tong) * 100 / 100).toFixed(2));

                    $('#txt_namtn').val(result[0].dkxt_KQTQG_NamTotNghiep);


                },
                error: function (errormessage) {
                    console.log("Có lỗi xảy ra trong quá trình thực hiện");
                }
            });
        }
    </script>


