<!-- Thêm thư viện -->
@model PagedList.IPagedList<HDU_AppXetTuyen.Models.DangKyXetTuyen>
@using PagedList.Mvc;
<!-- Kết thúc-->
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <h1 class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        Ngành
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    @*<a class="btn btn-sm btn-light text-primary" href="@Url.Action("Create","Nganhs")">
                            <i class="me-1" data-feather="user-plus"></i>
                            Thêm mới
                        </a>*@
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-4">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().DoiTuong.DoiTuong_Ten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().DotXetTuyen.Dxt_Ten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().KhuVuc.KhuVuc_Ten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Nganh.Nganh_MaNganh)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().PhuongThucXetTuyen.Ptxt_TenPhuongThuc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ThiSinhDangKy.ThiSinh_CCCD)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ToHopMon.Thm_MaToHop)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Dkxt_TrangThai)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Dkxt_NguyenVong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Dkxt_GhiChu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Dkxt_Diem_M1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Dkxt_Diem_M2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Dkxt_Diem_M3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Dkxt_Diem_Tong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Dkxt_Diem_Tong_Full)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoiTuong.DoiTuong_Ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DotXetTuyen.Dxt_Ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KhuVuc.KhuVuc_Ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nganh.Nganh_MaNganh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhuongThucXetTuyen.Ptxt_TenPhuongThuc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThiSinhDangKy.ThiSinh_CCCD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ToHopMon.Thm_MaToHop)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dkxt_TrangThai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dkxt_NguyenVong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dkxt_GhiChu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dkxt_Diem_M1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dkxt_Diem_M2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dkxt_Diem_M3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dkxt_Diem_Tong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dkxt_Diem_Tong_Full)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Dkxt_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Dkxt_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Dkxt_ID })
                        </td>
                    </tr>
                }

            </table>
            <!-- Thêm mã phân trang -->
            <br />
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page }))
            <!-- Kết thúc -->
        </div>
    </div>
</div>