@model HDU_AppXetTuyen.Models.NamHoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NamHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NamHoc_Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamHoc_Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamHoc_TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamHoc_TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamHoc_GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamHoc_GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NamHoc_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
