@model IEnumerable<HDU_AppXetTuyen.Models.NamHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Quản lý thông tin năm xét tuyển</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid px-12">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-header-actions mt-1 mb-1 ">
                <div class="card-header">
                    <span>Danh sách năm</span>
                    <a class="btn btn-outline-primary btn-sm align-items-center" href="@Url.Action("Create", "NamHocs")"> + Thêm mới</a>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center">
                                    @Html.DisplayName("Tên năm")
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayName("Trạng thái")
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayName("Ghi chú")
                                </th>
                                <th style="width:100px; text-align:center"> @Html.DisplayName("Cập nhật")</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.NamHoc_Ten)
                                </td>
                                <td style="text-align:center">
                                    @{
                                        var activated = item.NamHoc_TrangThai == 1 ? true : false;

                                        <input class="form-check-input myCheckbox" type="checkbox" id="@item.NamHoc_ID" onclick="ActiveItem(@item.NamHoc_ID, @item.NamHoc_TrangThai)" value="@item.NamHoc_TrangThai" checked="@activated" />

                                    }
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.NamHoc_GhiChu)
                                </td>
                                <td style="width:100px; text-align:center">
                                    @{ 
                                        var url = "/Admin/NamHocs/Edit/" + item.NamHoc_ID;
                                    }
                                    <a href="@Url.Action("Edit","NamHocs" , new { id = item.NamHoc_ID })"><i data-feather="edit" style="vertical-align: middle !important "></i></a>
                                    <a onclick="DeleteItem(@item.NamHoc_ID)"><i data-feather="trash-2" style="vertical-align:middle!important"></i></a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Toast Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>

<div class="modal fade" id="modal_check" tabindex="-1" role="dialog" aria-labelledby="modal_check" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_check_title">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="btn_close_modal"></button>
            </div>
            <div class="modal-body">
                <label id="txt_confirm" class="form-label"></label>
                <input id="hiddenCode" type="hidden" />
                <input id="hiddenTrangThai" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="btn_cancel_modal">Hủy</button>
                <button class="btn btn-primary" type="button" onclick="confirm_action()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_confirm_delete" tabindex="-1" role="dialog" aria-labelledby="modal_confirm_delete" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_confirm_delete_title">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="onCancel()" id="btn_close_delete_modal"></button>
            </div>
            <div class="modal-body">
                <label id="txt_confirm" class="form-label">Bạn có chắc chắn muốn xoá không?</label>
                <input id="hiddenRemoveId" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"  onclick="onCancel()" id="btn_cancel_modal">Hủy</button>
                <button class="btn btn-primary" type="button" onclick="confirm_delete()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btn_close_modal').click(function () {
            $('#modal_check').modal('hide');
        })
        $('#btn_cancel_modal').click(function () {
            $('#modal_check').modal('hide');
        })
    })
    function onCancel() {
        $('#modal_confirm_delete').modal('hide');
        $('#hiddenRemoveId').val('');
    }
    $('input[type="checkbox"]').on('click', function (event) {
        event.preventDefault();
    });
    function DeleteItem(NamHoc_Id) {
        $("#modal_confirm_delete").modal("show");
        $("#hiddenRemoveId").val(NamHoc_Id);
    }
    function ActiveItem(NamHoc_Id, NamHoc_TrangThai) {
        $("#modal_check").modal("show");
        $("#hiddenCode").val(NamHoc_Id);
        $("#hiddenTrangThai").val(NamHoc_TrangThai);
        let idpresent = $('#' + NamHoc_Id)
        if (idpresent.is(":checked")) {
            $('#txt_confirm').text("Bạn có chắc chắn muốn xác nhận thông tin?");
        }
        if (!idpresent.is(":checked")) {
            $('#txt_confirm').text("Bạn có chắc chắn huỷ xác nhận thông tin?");
        }
    };
    function confirm_action() {
        var id_namhoc = $('#hiddenCode').val();
        var trangthai = $('#hiddenTrangThai').val();
        var idpresent = $('#' + id_namhoc);
        console.log(id_namhoc)
        var data = {
            NamHoc_ID: id_namhoc
        }
        $.ajax({
            url: "/NamHocs/ActiveYear/",
            data: JSON.stringify(data),
            type: "POST",
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                var isChecked = idpresent.prop('checked');
                if (!isChecked) {
                    idpresent.prop("checked", true);
                }
                else {
                    idpresent.prop("checked", false);
                }
                let queryString_back = window.location.search;
                window.location.href = "/Admin/NamHocs/Index" + queryString_back;
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
        $('#modal_thongtin_lephi').modal('hide');
    }
    function confirm_delete() {
        var id_namhoc = $('#hiddenRemoveId').val();
        var data = {
            NamHoc_ID: id_namhoc
        }
        $.ajax({
            url: "/NamHocs/DeleteYear/",
            data: JSON.stringify(data),
            type: "POST",
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                let queryString_back = window.location.search;
                window.location.href = "/Admin/NamHocs/Index" + queryString_back;
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
        $('#modal_thongtin_lephi').modal('hide');
    }
</script>