@model PagedList.IPagedList<HDU_AppXetTuyen.Models.HocVienDuTuyen>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin_Master.cshtml";
}
<style>
    th, td {
        white-space: nowrap;
    }

    .bd-rd {
        border-radius: 3px
    }
</style>

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <i class=""></i>
                        <span>Quản lý danh mục dự tuyển</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div class="card card-collapsable mt-1 mb-1">
        <div class="card card-header-actions">
            <div class="card-header mt-0 mb-0">
                <span id="sp_tieude">Danh sách học viên dự tuyển</span>
                <script>
                    $(document).ready(function () {
                        let sp_tieude = document.getElementById('sp_tieude');
                        function reportWindowSize() {
                            if (window.innerWidth <= 1200) {
                                sp_tieude.innerText = "DS Học viên dự tuyển";
                            }
                            else {
                                sp_tieude.innerText = "Danh sách học viên dự tuyển";
                            }
                        }
                        window.onresize = reportWindowSize;
                    })
                </script>
                <div>
                    <a class="btn btn-light btn-sm" id="bt_collapse_show" style=" border-radius:3px; color:blue"><i data-feather="chevron-down" style="vertical-align:middle!important"></i></a>
                    <a class="btn btn-light btn-sm" id="bt_collapse_hide" style="display: none; border-radius: 3px; color: blue"><i data-feather="chevron-up" style="vertical-align:middle!important"></i></a>
                    <script>
                        $(document).ready(function () {
                            $('#bt_collapse_show').click(function () {
                                $('#bt_collapse_show').hide();
                                $('#div_thongtin_them').show();
                                $('#bt_collapse_hide').show();
                            })
                            $('#bt_collapse_hide').click(function () {
                                $('#bt_collapse_show').show();
                                $('#div_thongtin_them').hide();
                                $('#bt_collapse_hide').hide();
                            })
                        });
                    </script>
                </div>
            </div>
            <div class="card-body">
                <div class="row g-1 col-12" id="div_thongtin_them" style="display:none">
                    <div id="div_data_thongke" class="row col-12"></div>
                    <hr class="mt-2 mb2" />
                </div>

                <script>
                    $(document).ready(function () {
                        ShowData_ThongKe();
                    });
                    function ShowData_ThongKe() {
                        $.ajax({
                            url: "/HocVienDangKys/HocVienDuTuyen_ThongKe/",
                            type: "GET",
                            contentType: 'application/json;charset=utf-8',
                            success: function (res) {
                                console.log(res);
                                if (res.success) {
                                    var data_thongke = res.data;
                                    for (index_data = 0; index_data < data_thongke.length; index_data++) {
                                        var str_div = `<div class="col-lg-3 col-12"><span>Ngành: ${data_thongke[index_data].ThongKe_TenNganh}/ ${data_thongke[index_data].ThongKe_SoLuong} hv</span></div>`;
                                        $('#div_data_thongke').append(str_div);
                                    }
                                }
                            },
                            error: function () {
                                console.log("Lỗi");
                            }
                        });
                    }
                </script>

                @using (Html.BeginForm("DsHvDuTuyen", "HocVienDangKys", FormMethod.Get))
                {
                    <div class="row g-1">
                        <div class="col-lg-2 col-12">
                            @Html.DropDownList("filteriDotxt", null, new { @class = "form-select bd-rd" })
                        </div>
                        <div class="col-xxl-2 col-xl-12">
                            @Html.DropDownList("filteriNganhHoc", null, "Chọn ngành...", new { @class = "form-select bd-rd" })
                        </div>
                        <div class="col-xxl-2 col-xl-12">
                            @Html.DropDownList("filteriLePhi", null, "Theo dõi lệ phí...", new { @class = "form-select bd-rd" })
                        </div>
                        <div class="col-xxl-2 col-xl-12">
                            @Html.DropDownList("filteriHoSo", null, "Theo dõi hồ sơ...", new { @class = "form-select bd-rd" })
                        </div>
                        <div class="col-xxl-2 col-xl-12">
                            @Html.TextBox("searchString", ViewBag.SearchString as string, new { @class = "form-control bd-rd", @placeholder = "Nhập từ khóa..." })
                        </div>

                        <div class="col-xxl-2 col-xl-12">
                            <div class="d-inline-flex flex-nowrap align-items-center">
                                <button class="btn btn-outline-primary bd-rd text-nowrap" id="bt_search" style="margin-right:4px" title="Lọc dữ liệu"><i data-feather="filter" style="vertical-align:middle!important"></i></button>
                                <a class="btn btn-outline-primary bd-rd text-nowrap" id="bt_reset" href="@Url.Action("DsHvDuTuyen", "HocVienDangKys")" style="margin-right:4px;" title="Tải lại dữ liệu"><i data-feather="rotate-ccw" style="vertical-align:middle!important"></i></a>
                                <a class="btn btn-outline-primary bd-rd text-nowrap" id="bt_extend" style="margin-right:4px; display:none"><i data-feather="chevron-down" style="vertical-align:middle!important"></i></a>
                                <a class="btn btn-outline-primary bd-rd text-nowrap" id="bt_collapse" style="margin-right: 4px; display: none"><i data-feather="chevron-up" style="vertical-align:middle!important"></i></a>
                                <a class="btn btn-outline-primary bd-rd  text-nowrap" id="bt_export_excel" style="padding-right:6px; padding-left:6px" title="Xuất dữ liệu ra tệp excel"><i data-feather="download" style="vertical-align:middle!important"></i> Excel</a>

                                <script>
                                    $(document).ready(function () {
                                        $('#bt_export_excel').click(function () {
                                            let queryString_export = window.location.search;
                                            window.location.href = "/Admin/ExportDatas/ExportHocVienDuTuyen" + queryString_export;
                                        });
                                    });

                                </script>
                            </div>
                        </div>
                        <hr class="mt-3 mb-2" />
                    </div>
                }
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.ActionLink("Họ, tên đệm", "DsHvDuTuyen", "HocVienDangKys",
                                                    new
                                                    {
                                                        filteriNganhHoc = ViewBag.NganhFilteri,
                                                        filteriLePhi = ViewBag.LePhiFilteri,
                                                        filteriHoSo = ViewBag.HoSoFilteri,
                                                        searchString = ViewBag.SearchString,
                                                        filteriDotxt = ViewBag.DotxtFilteri,
                                                        sortOrder = ViewBag.HocVien_HoDem,
                                                        page = ViewBag.pageCurren,
                                                    }, new { @style = "text-decoration:none; color:black", @title = "Bấm để chọn sắp xếp theo họ" })
                                        </th>
                                        <th>
                                            @Html.ActionLink("Tên", "DsHvDuTuyen", "HocVienDangKys",
                                                   new
                                                   {
                                                       filteriNganhHoc = ViewBag.NganhFilteri,
                                                       filteriLePhi = ViewBag.LePhiFilteri,
                                                       filteriHoSo = ViewBag.HoSoFilteri,
                                                       searchString = ViewBag.SearchString,
                                                       filteriDotxt = ViewBag.DotxtFilteri,
                                                       sortOrder = ViewBag.HocVien_Ten,
                                                       page = ViewBag.pageCurren,
                                                   }, new { @style = "text-decoration:none; color:black", @title = "Bấm để chọn sắp xếp theo tên" })
                                        </th>
                                        <th>
                                            @Html.DisplayName("Điện thoại")
                                        </th>
                                        <th>
                                            @Html.ActionLink("Mã, Ngành học", "DsHvDuTuyen", "HocVienDangKys",
                                                 new
                                                 {
                                                     filteriNganhHoc = ViewBag.NganhFilteri,
                                                     filteriLePhi = ViewBag.LePhiFilteri,
                                                     filteriHoSo = ViewBag.HoSoFilteri,
                                                     searchString = ViewBag.SearchString,
                                                     filteriDotxt = ViewBag.DotxtFilteri,
                                                     sortOrder = ViewBag.Nganh_Mt_TenNganh,
                                                     page = ViewBag.pageCurren,
                                                 }, new { @style = "text-decoration:none; color:black", @title = "Bấm để chọn sắp xếp theo ngành" })

                                        </th>
                                        <th>
                                            @Html.DisplayName("ĐK Dự thi NN")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Học BSKT")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Ngày đăng ký")
                                        </th>
                                        <th>
                                            @Html.ActionLink("Theo dõi nộp phí", "DsHvDuTuyen", "HocVienDangKys",
                                                 new
                                                 {
                                                     filteriNganhHoc = ViewBag.NganhFilteri,
                                                     filteriLePhi = ViewBag.LePhiFilteri,
                                                     filteriHoSo = ViewBag.HoSoFilteri,
                                                     searchString = ViewBag.SearchString,
                                                     filteriDotxt = ViewBag.DotxtFilteri,
                                                     sortOrder = ViewBag.HocVien_LePhi_TrangThai,
                                                     page = ViewBag.pageCurren,
                                                 }, new { @style = "text-decoration:none; color:black", @title = "Bấm để chọn sắp xếp theo trạng thái nộp lệ phí" })

                                        </th>
                                        <th>
                                            @Html.ActionLink("Theo dõi hồ sơ HV", "DsHvDuTuyen", "HocVienDangKys",
                                                 new
                                                 {
                                                     filteriNganhHoc = ViewBag.NganhFilteri,
                                                     filteriLePhi = ViewBag.LePhiFilteri,
                                                     filteriHoSo = ViewBag.HoSoFilteri,
                                                     searchString = ViewBag.SearchString,
                                                     filteriDotxt = ViewBag.DotxtFilteri,
                                                     sortOrder = ViewBag.DuTuyen_TrangThai,
                                                     page = ViewBag.pageCurren,
                                                 }, new { @style = "text-decoration:none; color:black", @title = "Bấm để chọn sắp xếp theo trạng thái hồ sơ" })
                                        </th>
                                        <th class="text-nowrap" style="text-align:center; width:120px">
                                            <a href="@Url.Action("AdminCreateHocVien","HocVienDangKys")" style="text-decoration:none">Thêm mới</a>
                                            @*@Html.DisplayName("Cập nhật")*@
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_data_hocvien_dutuyen">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HocVienDangKy.HocVien_HoDem)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HocVienDangKy.HocVien_Ten)
                                            </td>


                                            <td>
                                                @Html.DisplayFor(modelItem => item.HocVienDangKy.HocVien_DienThoai)
                                            </td>


                                            <td>
                                                @Html.DisplayFor(modelItem => item.NganhMaster.Nganh_Mt_MaNganh) - @Html.DisplayFor(modelItem => item.NganhMaster.Nganh_Mt_TenNganh)
                                            </td>
                                            <td>
                                                @{
                                                    if (item.HocVien_DKDTNgoaiNgu == 1)
                                                    {
                                                        @Html.DisplayName("Dự thi NN")
                                                    }
                                                    if (item.HocVien_DKDTNgoaiNgu == 0)
                                                    {
                                                        @Html.DisplayName("Được miễn")
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayName("Đúng CN")
                                            </td>
                                            <td>
                                                @{DateTime dateTime = DateTime.Parse(item.DuTuyen_NgayDangKy);
                                                    string formattedDate = dateTime.ToString("dd/MM/yyyy");
                                                    <div> @formattedDate </div>
                                                }
                                            </td>
                                            <td>
                                                @{
                                                    if (item.HocVien_LePhi_TrangThai == 0)
                                                    {
                                                        <label id="lbl_@item.DuTuyen_ID" class="form-label" style="color:red">Chưa nộp </label>
                                                    }
                                                    else if (item.HocVien_LePhi_TrangThai == 1 || item.HocVien_LePhi_TrangThai == 9)
                                                    {
                                                        <label id="lbl_@item.DuTuyen_ID">@item.HocVien_LePhi_MaThamChieu</label>
                                                        @Html.DisplayName(" | ")
                                                        bool checkedLePhi = item.HocVien_LePhi_TrangThai == 9 ? true : false;
                                                        <input type="checkbox" class="form-check-input tm_check" id="mtc_@item.DuTuyen_ID" name="mtc_@item.DuTuyen_ID" onclick="XacNhanNopTienDung(@item.DuTuyen_ID, @item.HocVien_LePhi_TrangThai)" value="@item.HocVien_LePhi_MaThamChieu" checked="@checkedLePhi" />
                                                    }
                                                    else if (item.HocVien_LePhi_TrangThai == 2)
                                                    {
                                                        <label id="lbl_@item.DuTuyen_ID" style="color:red">Mã TC sai</label>
                                                    }
                                                }
                                            </td>

                                            <td>
                                                @if (item.DuTuyen_TrangThai == 1)
                                                {
                                                    <label class="form-label">Chưa kiểm tra</label>
                                                }
                                                @if (item.DuTuyen_TrangThai == 2)
                                                {
                                                    <label class="form-label" style="color:red">Có sai sót</label>
                                                }
                                                @if (item.DuTuyen_TrangThai == 9)
                                                {
                                                    <label class="form-label" style="color:blue">Hồ sơ đủ, đúng</label>
                                                }
                                            </td>
                                            <td style="text-align:center; vertical-align:middle" class="text-nowrap">
                                                <a href="@Url.Action("DsHvDuTuyenKiemTraHoSo", "HocVienDangKys", new
                                                 {
                                                      filteriNganhHoc = ViewBag.NganhFilteri,
                                                      filteriLePhi = ViewBag.LePhiFilteri,
                                                      filteriHoSo = ViewBag.HoSoFilteri,
                                                      searchString = ViewBag.SearchString,
                                                      filteriDotxt = ViewBag.DotxtFilteri,
                                                      sortOrder = ViewBag.CurrentSort,
                                                      page = ViewBag.pageCurren,
                                                      DuTuyen_ID = item.DuTuyen_ID,
                                                 })" class="btn btn-light btn-sm bt-hs bd-rd"> Kiểm tra </a>

                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>

                            <script>
                                $('input[type="checkbox"]').on('click', function (event) {
                                    event.preventDefault();
                                });
                                function XacNhanNopTienDung(id_thisinh, trangthai) {
                                    var idpresent = $('#mtc_' + id_thisinh);
                                    $('#hiddenCode').text(id_thisinh);
                                    $('#hiddenTrangThai').text(trangthai);
                                    if (idpresent.is(":checked")) {
                                        $('#txt_confirm').text("Bạn có chắc chắn muốn xác nhận thông tin?");
                                    }
                                    if (!idpresent.is(":checked")) {
                                        $('#txt_confirm').text("Bạn có chắc chắn huỷ xác nhận thông tin nộp lệ phí?");
                                    }
                                    $('#modal_thongtin_lephi').modal('show');
                                }
                                function confirm_action() {
                                    var id_thisinh = $('#hiddenCode').text();
                                    var trangthai = $('#hiddenTrangThai').text();
                                    var idpresent = $('#mtc_' + id_thisinh);
                                    var data = {
                                        dutuyenID: id_thisinh,
                                        trangthai: trangthai == 9 ? 1 : 9,
                                    }
                                    $.ajax({
                                        url: "/HocVienDangKys/UpdateLePhiTrangThai/",
                                        data: JSON.stringify(data),
                                        type: "POST",
                                        contentType: 'application/json;charset=utf-8',
                                        dataType: 'json',
                                        success: function (response) {
                                            var isChecked = idpresent.prop('checked');
                                            if (!isChecked) {
                                                idpresent.prop("checked", true);
                                            }
                                            else {
                                                idpresent.prop("checked", false);
                                            }
                                            let queryString_back = window.location.search;
                                            window.location.href = "/Admin/HocVienDangKys/DsHvDuTuyen" + queryString_back;
                                        },
                                        error: function (errormessage) {
                                            console.log(errormessage.responseText);
                                        }
                                    });
                                    $('#modal_thongtin_lephi').modal('hide');
                                }
                                $(document).ready(function () {
                                    $('#bt_cancel_on_modal_first').click(function () {
                                        $('#modal_thongtin_lephi').modal('hide');
                                    })
                                    $('#bt_cancel_on_modal_second').click(function () {
                                        $('#modal_thongtin_lephi').modal('hide');
                                    })
                                })
                            </script>
                            <!-- Thêm mã phân trang -->
                            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / Tổng @Model.PageCount trang/ (Tổng @ViewBag.totalRecod bản ghi)
                            @Html.PagedListPager(Model, page => Url.Action("DsHvDuTuyen", new
                               {
                                   filteriNganhHoc = ViewBag.NganhFilteri,
                                   filteriLePhi = ViewBag.LePhiFilteri,
                                   filteriHoSo = ViewBag.HoSoFilteri,
                                   searchString = ViewBag.SearchString,
                                   filteriDotxt = ViewBag.DotxtFilteri,
                                   sortOrder = ViewBag.CurrentSort,
                                   page,
                               }))
                            <!-- Kết thúc -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_thongtin_lephi" tabindex="-1" role="dialog" aria-labelledby="modal_thongtin_lephi" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tieude_update_mc_lephi">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="bt_cancel_on_modal_first"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label id="txt_confirm" class="form-label"></label>
                    <p id="hiddenCode" hidden></p>
                    <p id="hiddenTrangThai" hidden></p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="bt_cancel_on_modal_second">Hủy</button>
                <button class="btn btn-primary" type="button" id="bt_ok_on_modal_lephi" onclick="confirm_action()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>