@model HDU_AppXetTuyen.Models.DotXetTuyen

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Quản lý thông tin đợt xét tuyển</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid px-12">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-header-actions mt-1 mb-1 ">
                <div class="card-header">
                    <span>Thêm mới đợt xét tuyển</span>
                    <a class="btn-close" aria-label="Close" href="@Url.Action("Index","DotXetTuyens")"></a>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="row form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group col-md-2 mt-3">
                                @Html.Label("Chọn năm", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.DropDownList("NamHoc_ID", null, htmlAttributes: new { @class = "form-select" })
                                    @Html.ValidationMessageFor(model => model.NamHoc_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-3 mt-3">
                                @Html.Label("Tên đợt xét", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Dxt_Ten, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Dxt_Ten, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-2 mt-3">
                                @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Dxt_TrangThai_Xt, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Dxt_TrangThai_Xt, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-5 mt-3">
                                @Html.Label("Ghi chú", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Dxt_GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Dxt_GhiChu, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-md-12 mt-4">
                                <input type="submit" value="Đồng ý" class="btn btn-outline-primary" />
                                <a href="@Url.Action("Index","DotXetTuyens")" class="btn btn-outline-danger">Hủy bỏ</a>
                            </div>
                           
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
