@model HDU_AppXetTuyen.Models.DotXetTuyen
@{
    ViewBag.Title = "QLDotDuTuyenSDH_Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin_Master.cshtml";
}
<style>
    .form-control, .form-select, .btn {
        border-radius: 3px;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Quản lý đợt tuyển sinh</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-header-actions mt-1 mb-1 ">
                <div class="card-header">
                    <span>Thêm mới đợt xét tuyển</span>
                    <a class="btn-close" aria-label="Close" href="@Url.Action("MasterIndex","DotXetTuyens")"></a>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="row g-1 m-1">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-xxl-1 col-lg-12">
                                <div class="form-group">
                                    <label class="control-label col-md-12">Năm học</label>
                                    <div class="col-md-12">
                                        @Html.DropDownList("NamHoc_ID", null, htmlAttributes: new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.NamHoc_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-lg-12">
                                <div class="form-group">
                                    <label class="control-label col-md-12">Tên đợt</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Dxt_Ten, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Dxt_Ten, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-xxl-2 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Dxt_ThoiGian_BatDau, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Dxt_ThoiGian_BatDau, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                        @Html.ValidationMessageFor(model => model.Dxt_ThoiGian_BatDau, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Dxt_ThoiGian_KetThuc, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Dxt_ThoiGian_KetThuc, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control", @type = "date" } })

                                        @Html.ValidationMessageFor(model => model.Dxt_ThoiGian_KetThuc, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-lg-12">
                                <div class="form-group" style="margin-left:6px">
                                    @Html.LabelFor(model => model.Dxt_TrangThai_Xt, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        <div class="d-inline-flex flex-nowrap  align-items-center ">
                                            <div class="form-check align-items-center mt-2 mb-3">
                                                <input class="form-check-input" type="checkbox" id="Dxt_TrangThai_Xt" name="Dxt_TrangThai_Xt" checked>
                                                <label class="form-check-label" for="checkbox_check_mc">Là đợt hiện tại</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Dxt_GhiChu, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Dxt_GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Dxt_GhiChu, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row g-1">
                            <center>
                                <div class="col-xxl-2 col-lg-12">
                                    <div class="form-group col-md-12 mt-4">
                                        <input type="submit" value="Đồng ý" class="btn btn-outline-primary" />
                                        <a href="@Url.Action("MasterIndex","DotXetTuyens")" class="btn btn-outline-danger">Hủy bỏ</a>
                                    </div>

                                </div>
                            </center>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
