@model IEnumerable<HDU_AppXetTuyen.Models.DotXetTuyen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Quản lý thông tin đợt xét tuyển</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid px-12">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-header-actions mt-1 mb-1 ">
                <div class="card-header">
                    <span>Danh sách đợt xét tuyển</span>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>@Html.DisplayName("Tên năm") </th>
                                <th>@Html.DisplayName("Tên đợt") </th>
                                <th>@Html.DisplayName("Xét tuyển")</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dxt_ThoiGian_BatDau)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dxt_ThoiGian_KetThuc)
                                </th>
                                <th>@Html.DisplayName("Ghi chú")</th>
                                <th style="width:110px;"><a class="btn btn-light text-nowrap" id="btCapNhat" onclick="UpdateDotXetTuyen(0,0, 0)" style="font-weight:bold">Thêm mới</a></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NamHoc.NamHoc_Ten)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dxt_Ten)
                                </td>
                                <td>
                                    @{
                                        if (item.Dxt_TrangThai_Xt == 1)
                                        {
                                            <div class="d-inline-flex flex-nowrap  align-items-center ">
                                                <div class="form-check align-items-center">
                                                    <input class="form-check-input" type="checkbox" id="ttxt_@item.Dxt_ID" name="ttxt_@item.Dxt_ID" checked>
                                                    <label class="form-check-label" for="ttxt_@item.Dxt_ID">Là đợt hiện tại</label>
                                                </div>
                                            </div>
                                        }
                                        if (item.Dxt_TrangThai_Xt == 0)
                                        {
                                            <div class="d-inline-flex flex-nowrap  align-items-center ">
                                                <div class="form-check align-items-center">
                                                    <input class="form-check-input" type="checkbox" id="ttxt_@item.Dxt_ID" name="ttxt_@item.Dxt_ID" onclick="SetupDotXetTuyenHienTai(@item.Dxt_ID, @item.Dxt_TrangThai_Xt, @item.Dxt_Classify)">
                                                    <label class="form-check-label" for="ttxt_@item.Dxt_ID">Đã khóa</label>
                                                </div>
                                            </div>
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dxt_ThoiGian_BatDau)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dxt_ThoiGian_KetThuc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dxt_GhiChu)
                                </td>
                                <td style="text-align:center">
                                    <a href="#" onclick="UpdateDotXetTuyen(@item.Dxt_ID,2, 0)"><i data-feather="edit" style="vertical-align: middle !important "></i></a>
                                    @*@Html.ActionLink("Sửa", "MasterEdit", new { Dxt_ID = item.Dxt_ID })*@ |
                                    <a href="#" onclick="DeleteDotXetTuyen(@item.Dxt_ID)"><i data-feather="trash-2" style="vertical-align:middle!important"></i></a>
                                    @*@Html.ActionLink("Xóa", "Delete", new { Dxt_ID = item.Dxt_ID })*@
                                </td>
                            </tr>

                        }
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Toast Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>

<div class="modal fade" id="modal_thietlap_dothientai" tabindex="-1" role="dialog" aria-labelledby="modal_thietlap_dothientai" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tieude_modal">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="bt_cancel_on_modal_first"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label id="txt_confirm" class="form-label"></label>
                    <p id="hiddenCode" hidden></p>
                    <p id="hiddenTrangThai" hidden></p>
                    <p id="hiddenClassify" hidden></p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="bt_cancel_on_modal_second">Hủy</button>
                <button class="btn btn-primary" type="button" id="bt_ok_on_modal_lephi" onclick="confirm_action()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_xoa_dothientai" tabindex="-1" role="dialog" aria-labelledby="modal_xoa_dothientai" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tieude_modal">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="bt_cancel_xoa_modal_first"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label id="txt_delete_confirm" class="form-label"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="bt_cancel_xoa_modal_second">Hủy</button>
                <button class="btn btn-primary" type="button" id="bt_ok_on_modal_xoa" onclick="confirm_delete()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('input[type="checkbox"]').on('click', function (event) {
        event.preventDefault();
    });
    function SetupDotXetTuyenHienTai(id_dotxt, trangthai, classify) {
        var idpresent = $('#ttxt_' + id_dotxt);
        $('#hiddenCode').text(id_dotxt);
        $('#hiddenTrangThai').text(trangthai);
        $('#hiddenClassify').text(classify);

        if (idpresent.is(":checked")) {
            $('#txt_confirm').text("Bạn có chắc chắn muốn thiết lập đây là đợt tuyển sinh hiện tại?");
        }
        $('#modal_thietlap_dothientai').modal('show');
    }
    function confirm_action() {
        var _Dxt_ID = $('#hiddenCode').text();
        var Dxt_Classify = $('#hiddenClassify').text();
        var data_change = {
            Dxt_ID: _Dxt_ID,
            Dxt_Classify: Dxt_Classify
        }
        $.ajax({
            url: '/Admin/DotXetTuyens/DotXetTuyetChangeTTXTJson/',
            data: JSON.stringify(data_change),
            type: "POST",
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.success) {
                    window.location.href = "/Admin/DotXetTuyens/CollegerIndex"
                }
            },
            error: function (err) {
                console.log(err.responseText);
            }
        });
    }

    $(document).ready(function () {
        $('#bt_cancel_on_modal_first').click(function () {
            $('#modal_thietlap_dothientai').modal('hide');
            $('#hiddenCode').text('');
            $('#hiddenTrangThai').text('');
            $('#hiddenClassify').text('');
        })
        $('#bt_cancel_on_modal_second').click(function () {
            $('#modal_thietlap_dothientai').modal('hide');
            $('#hiddenCode').text('');
            $('#hiddenTrangThai').text('');
            $('#hiddenClassify').text('');
        })
        $('#bt_cancel_xoa_modal_first').click(function () {
            $('#modal_xoa_dothientai').modal('hide');
            $('#hidden_Dxt_ID').text('');
        })
        $('#bt_cancel_xoa_modal_second').click(function () {
            $('#modal_xoa_dothientai').modal('hide');
            $('#hidden_Dxt_ID').text('');
        })
    })
</script>
<script>
    $(document).ready(function () {
        $('#bt_cancel_modalupdate_first').click(function () {
            $('#modal_update_data').modal('hide');
            $('#hidden_Dxt_ID').val('');
            $('#hidden_Check_Func').val('');
            $('#hidden_Dxt_Classify').val('');
        })
        $('#bt_cancel_modalupdate_second').click(function () {
            $('#modal_update_data').modal('hide');
            $('#hidden_Dxt_ID').val('');
            $('#hidden_Check_Func').val('');
            $('#hidden_Dxt_Classify').val('');
        })
    })
    function UpdateDotXetTuyen(idDotXetTuyen, key_update, classify) {
        $('#hidden_Dxt_ID').val(idDotXetTuyen);
        $('#hidden_Check_Func').val(key_update);
        $('#hidden_Dxt_Classify').val(classify);

        if (idDotXetTuyen > 0 && key_update > 0) {
            $('#bt_add_ok_modalupdate').hide();
            $('#bt_edit_ok_modalupdate').show();
            DotXetTuyenGetByID();
            $('#modal_update_data').modal('show');
        }
        else if (idDotXetTuyen == 0 && key_update == 0) {
            DotXetTuyetGetNhht();
            $('#bt_add_ok_modalupdate').show();
            $('#bt_edit_ok_modalupdate').hide();
            $('#modal_update_data').modal('show');
        }
    }
    function DeleteDotXetTuyen(ID) {
        $('#hidden_Dxt_ID').val(ID);
        $('#txt_delete_confirm').text("Bạn có chắc chắn muốn xoá đợt tuyển sinh này?");
        $('#modal_xoa_dothientai').modal('show');
    }
    function confirm_delete() {
        var _Dxt_ID = $('#hidden_Dxt_ID').val();
        var data_change = {
            Dxt_ID: _Dxt_ID,
        }
        $.ajax({
            url: '/Admin/DotXetTuyens/DotXetTuyetDelete/',
            data: JSON.stringify(data_change),
            type: "POST",
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.success) {
                    window.location.href = "/Admin/DotXetTuyens/CollegerIndex"
                }
            },
            error: function (err) {
                console.log(err.responseText);
            }
        });

    }
</script>
<script>
    $(document).ready(function () {

        $('#bt_edit_ok_modalupdate').click(function () {
            DotXetTuyenEdit()
        });
        $('#bt_add_ok_modalupdate').click(function () {
            DotXetTuyenAdd();
        });

        $('input').on('input', function () {
            hideErrorMessage($(this));
        });
    });
    function DotXetTuyetGetNhht() {
        $.ajax({
            url: '/Admin/DotXetTuyens/DotXetTuyetGetNamHocHienTaiJson/',
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            async: false,
            success: function (res) {
                if (res.success) {
                    $('#NamHoc_ID').val(res.data);
                }
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    }
    function DotXetTuyenGetByID() {
        var data_obj = { Dxt_ID: $('#hidden_Dxt_ID').val() };
        $.ajax({
            url: '/Admin/DotXetTuyens/DotXetTuyetGetByIDJson/',
            data: JSON.stringify(data_obj),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                if (res.success) {
                    var data = res.data;
                    $('#NamHoc_ID').val(data.NamHoc_ID);
                    $('#Dxt_Ten').val(data.Dxt_Ten);
                    $('#Dxt_ThoiGian_BatDau').val(data.Dxt_ThoiGian_BatDau);
                    $('#Dxt_ThoiGian_KetThuc').val(data.Dxt_ThoiGian_KetThuc);
                    $('#Dxt_GhiChu').val(data.Dxt_GhiChu);
                    $('#hidden_Dxt_Classify').val(data.Dxt_Classify);
                    if (data.Dxt_TrangThai_Xt == 0) { $('#Dxt_TrangThai_Xt').removeAttr('checked', ':checked') }
                }
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    }
    function DotXetTuyenAdd() {
        var flag = true;
        let _namHoc_ID = $('#NamHoc_ID').val();

        let _dxt_Ten = $('#Dxt_Ten').val();
        if (!_dxt_Ten) { $('#Error_Dxt_Ten').text('Nhập tên đợt tuyển sinh'); flag = false; }

        let _dxt_ThoiGian_BatDau = $('#Dxt_ThoiGian_BatDau').val();
        if (!_dxt_ThoiGian_BatDau) { $('#Error_Dxt_ThoiGian_BatDau').text('Chọn thời gian bắt đầu'); flag = false; }

        let _dxt_ThoiGian_KetThuc = $('#Dxt_ThoiGian_KetThuc').val();
        if (!_dxt_ThoiGian_KetThuc) { $('#Error_Dxt_ThoiGian_KetThuc').text('Chọn thời gian kết thúc'); flag = false; }

        if (parseDate(_dxt_ThoiGian_KetThuc).getTime() < parseDate(_dxt_ThoiGian_BatDau).getTime()) {
            $('#Error_Dxt_ThoiGian_KetThuc').text('Thời gian kết thúc sai'); flag = false;
        }

        let _dxt_GhiChu = $('#Dxt_GhiChu').val();
        if (!_dxt_ThoiGian_KetThuc) { $('#Error_Dxt_GhiChu').text('Nhập ghi chú'); flag = false; }

        if (!flag) return;

        var data_add = {
            Dxt_Ten: _dxt_Ten,
            Dxt_ThoiGian_BatDau: _dxt_ThoiGian_BatDau,
            Dxt_ThoiGian_KetThuc: _dxt_ThoiGian_KetThuc,
            Dxt_GhiChu: _dxt_GhiChu,
            Dxt_Classify: 0
        };
        $.ajax({
            url: '/Admin/DotXetTuyens/DotXetTuyetAddJson/',
            data: JSON.stringify(data_add),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                if (res.success) {
                    window.location.href = "/Admin/DotXetTuyens/CollegerIndex"
                }
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    }
    function DotXetTuyenEdit() {
        var flag = true;
        let _namHoc_ID = $('#NamHoc_ID').val();

        let _dxt_Ten = $('#Dxt_Ten').val();
        if (!_dxt_Ten) { $('#Error_Dxt_Ten').text('Nhập tên đợt tuyển sinh'); flag = false; }

        let _dxt_ThoiGian_BatDau = $('#Dxt_ThoiGian_BatDau').val();
        if (!_dxt_ThoiGian_BatDau) { $('#Error_Dxt_ThoiGian_BatDau').text('Chọn thời gian bắt đầu'); flag = false; }

        let _dxt_ThoiGian_KetThuc = $('#Dxt_ThoiGian_KetThuc').val();
        if (!_dxt_ThoiGian_KetThuc) { $('#Error_Dxt_ThoiGian_KetThuc').text('Chọn thời gian kết thúc'); flag = false; }

        if (parseDate(_dxt_ThoiGian_KetThuc).getTime() < parseDate(_dxt_ThoiGian_BatDau).getTime()) {
            $('#Error_Dxt_ThoiGian_KetThuc').text('Thời gian kết thúc sai'); flag = false;
        }

        let _dxt_GhiChu = $('#Dxt_GhiChu').val();
        if (!_dxt_ThoiGian_KetThuc) { $('#Error_Dxt_GhiChu').text('Nhập ghi chú'); flag = false; }

        if (!flag) return;

        var data_edit = {
            Dxt_ID: $('#hidden_Dxt_ID').val(),
            Dxt_Ten: _dxt_Ten,
            Dxt_ThoiGian_BatDau: _dxt_ThoiGian_BatDau,
            Dxt_ThoiGian_KetThuc: _dxt_ThoiGian_KetThuc,
            Dxt_GhiChu: _dxt_GhiChu,
            NamHoc_ID: _namHoc_ID,
        };
        console.log("dt sua", data_edit);

        $.ajax({
            url: '/Admin/DotXetTuyens/DotXetTuyetEditJson/',
            data: JSON.stringify(data_edit),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                if (res.success) {
                    window.location.href = "/Admin/DotXetTuyens/CollegerIndex"
                }
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    }
    // Chuyển chuỗi kí tự (string) sang đối tượng Date()
    function parseDate(str) {
        var mdy = str.split('-');
        return new Date(mdy[0], mdy[1], mdy[2]);
    }
    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }
</script>
<div class="modal fade" id="modal_update_data" tabindex="-1" role="dialog" aria-labelledby="modal_update_data" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Cập nhật dữ liệu</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="bt_cancel_modalupdate_first"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" style="display:none" id="hidden_Dxt_ID" name="hidden_Dxt_ID" />
                <input type="hidden" style="display:none" id="hidden_Check_Func" />
                <input type="hidden" style="display:none" id="hidden_Dxt_Classify" />
                <div class="row g-2">
                    <div class="col-xxl-2 col-lg-12">
                        <div class="form-group">
                            <label class="control-label col-md-12">Năm học</label>
                            <div class="col-md-12">
                                <input type="text" id="NamHoc_ID" name="NamHoc_ID" class="form-control" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-lg-12">
                        <div class="form-group">
                            <label class="control-label col-md-12">Tên đợt</label>
                            <div class="col-md-12">
                                <input type="text" name="Dxt_Ten" id="Dxt_Ten" class="form-control" />
                                <span id="Error_Dxt_Ten" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label class="control-label col-md-12">Ghi chú</label>
                            <div class="col-md-12">
                                <input type="text" name="Dxt_GhiChu" id="Dxt_GhiChu" class="form-control" placeholder="Tuyển sinh Sau đại học" value="Tuyển sinh Sau đại học" />
                                <span id="Error_Dxt_GhiChu" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-12">
                        <div class="form-group">
                            <label class="control-label col-md-12">Thời gian bắt đầu</label>
                            <div class="col-md-12">
                                <input type="date" name="Dxt_ThoiGian_BatDau" id="Dxt_ThoiGian_BatDau" class="form-control" />
                                <span id="Error_Dxt_ThoiGian_BatDau" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-12">
                        <div class="form-group">
                            <label class="control-label col-md-12">Thời gian kết thúc</label>
                            <div class="col-md-12">
                                <input type="date" name="Dxt_ThoiGian_KetThuc" id="Dxt_ThoiGian_KetThuc" class="form-control" />
                                <span id="Error_Dxt_ThoiGian_KetThuc" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="bt_cancel_modalupdate_second">Hủy</button>
                <button class="btn btn-primary" type="button" id="bt_add_ok_modalupdate">Đồng ý thêm</button>
                <button class="btn btn-primary" type="button" id="bt_edit_ok_modalupdate">Đồng ý sửa</button>
            </div>
        </div>
    </div>
</div>
