@model HDU_AppXetTuyen.Models.ThiSinhDangKy

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $('document').ready(function () {
        let hocLucList = [
            { value: 4, text: "Xuất sắc" },
            { value: 3, text: "Giỏi" },
            { value: 2, text: "Khá" },
            { value: 1, text: "Trung bình" },
        ]
        let hanhKiemList = [
            { value: 4, text: "Tốt" },
            { value: 3, text: "Khá" },
            { value: 2, text: "Trung bình" },
            { value: 1, text: "Yếu" },
        ]
        for (let i = 0; i < hocLucList.length; i++) {
            if (hocLucList[i].value == @Model.ThiSinh_HocLucLop12) {
                $('#input_hocluc').text(hocLucList[i].text);
                break;
            }
        }
        for (let i = 0; i < hanhKiemList.length; i++) {
            if (hanhKiemList[i].value == @Model.ThiSinh_HanhKiemLop12) {
                $('#input_hanhkiem').text(hanhKiemList[i].text);
                break;
            }
        }
    })
</script>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude">Quản lý thông tin của thí</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div class="card card-header-actions">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="2">Thông tin cơ bản</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>Họ và tên:</td>
                                <td>@Model.ThiSinh_HoLot @Model.ThiSinh_Ten</td>
                            </tr>
                            <tr>
                                <td>Ngày sinh:</td>
                                <td>@Model.ThiSinh_NgaySinh</td>
                            </tr>
                            <tr>
                                <td>Giới tính:</td>
                                <td>
                                    @{
                                        var gt = Model.ThiSinh_GioiTinh == 0 ? "Nam" : "Nữ";
                                    }
                                    @gt
                                </td>
                            </tr>
                            <tr>
                                <td>Dân tộc:</td>
                                <td>
                                    @Model.ThiSinh_DanToc
                                </td>
                            </tr>

                            <tr>
                                <td style="width:130px">CC công dân:</td>
                                <td>
                                    @Model.ThiSinh_CCCD
                                </td>
                            </tr>
                            <tr>
                                <td>Điện thoại:</td>
                                <td>@Model.ThiSinh_DienThoai</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>@Model.ThiSinh_Email</td>
                            </tr>
                    </table>
                </div>
                <div class="col-xl-4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="2">Thông tin học cấp 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:35%">Tỉnh học:</td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>Mã trường:</td>
                                <td>@Model.ThiSinh_TruongCapBa_Ma</td>
                            </tr>
                            <tr>
                                <td>Tên trường:</td>
                                <td>@Model.ThiSinh_TruongCapBa</td>
                            </tr>
                            <tr>
                                <td>Học lực 12:</td>
                                <td>
                                    <span id="input_hocluc"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Hạnh kiểm 12:</td>
                                <td><span id="input_hanhkiem"></span></td>
                            </tr>
                            <tr>
                                <td>Khu vực:</td>
                                <td>@Model.KhuVuc.KhuVuc_Ten</td>
                            </tr>
                            <tr>
                                <td>Đối tượng:</td>
                                <td>@Model.DoiTuong.DoiTuong_Ten</td>
                            </tr>

                    </table>
                </div>
                <div class="col-xl-4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Thông tin khác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="mt-0 mb-2"> Hộ khẩu thường trú: </p>
                                    <p class="mt-1 mb-0"> @Model.ThiSinh_HoKhauThuongTru</p>
                                   
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <p class="mt-0 mb-2"> Địa chỉ nhận giấy báo: </p>
                                    <p class="mt-1 mb-0"> @Model.ThiSinh_DCNhanGiayBao</p>                                    
                                </td>
                            </tr>                            
                    </table>
                    <div class="row">
                        <div class="col-12">
                            <center>
                                <a href="@Url.Action("Edit", "ThiSinhDangKies", new {id = Model.ThiSinh_ID})" class="btn btn-light" style="color:blue!important">Cập nhật</a>
                            </center>                           
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    