@model IEnumerable<HDU_AppXetTuyen.Models.ThiSinhDangKy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoiTuong.DoiTuong_Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DotXetTuyen.Dxt_Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhuVuc.KhuVuc_Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_CCCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_DienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_HoLot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_NamTotNghiep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_ResetCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_NgayDangKy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_DanToc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_DCNhanGiayBao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_HoKhauThuongTru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_HoKhauThuongTru_Check)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_TruongCapBa_Ma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_TruongCapBa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThiSinh_GhiChu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoiTuong.DoiTuong_Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DotXetTuyen.Dxt_Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhuVuc.KhuVuc_Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_CCCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_DienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_HoLot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_NamTotNghiep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_ResetCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_NgayDangKy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_DanToc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_DCNhanGiayBao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_HoKhauThuongTru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_HoKhauThuongTru_Check)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_TruongCapBa_Ma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_TruongCapBa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThiSinh_GhiChu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ThiSinh_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ThiSinh_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ThiSinh_ID })
        </td>
    </tr>
}

</table>
