@model HDU_AppXetTuyen.Models.KhuVuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KhuVuc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhuVuc_Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuVuc_Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhuVuc_DiemUuTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuVuc_DiemUuTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhuVuc_GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuVuc_GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KhuVuc_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
