@model HDU_AppXetTuyen.Models.Tinh

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tinh_Ma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinh_Ma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinh_Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinh_Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinh_MaTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinh_MaTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinh_GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinh_GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tinh_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
